      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="recipe-content-title"><%= t(:'users.edit') %></h1>
        </div>
      </div>

      <div class="page-content-body user-edit">

<%= form_for(resource,
             as: resource_name,
             url: registration_path(resource_name),
             html: { method: :put, class: 'pure-form pure-form-aligned' }) do |f| %>
  <%= devise_error_messages! %>
  <%= invisible_captcha %>

  <fieldset>
    <div class="field pure-control-group">
      <%= f.label :email %>
      <%= f.email_field :email, disabled: true, autofocus: true, class: 'pure-input-1-4' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field pure-control-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'pure-input-1-4',
        placeholder: t(:'activerecord.attributes.user.name') %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :avatar %>
      <%= f.text_field :avatar, class: 'pure-input-1-4',
        placeholder: t(:'activerecord.attributes.user.avatar') %>
      <% if resource.avatar.present? %>
        <%= image_tag resource.avatar, class: 'recipe-avatar' %>
      <% end %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :brewery %>
      <%= f.text_field :brewery, class: 'pure-input-1-4',
        placeholder: t(:'activerecord.attributes.user.brewery') %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :equipment %>
      <%= f.text_field :equipment, class: 'pure-input-1-4',
        placeholder: t(:'activerecord.attributes.user.equipment') %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: 'pure-input-1-4',
        placeholder: t(:'activerecord.attributes.user.location') %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: 'pure-input-1-4',
        placeholder: t(:'activerecord.attributes.user.url') %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :twitter %>
      <%= f.text_field :twitter, class: 'pure-input-1-4',
        placeholder: t(:'activerecord.attributes.user.twitter') %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :presentation, class: 'large-group' %>
      <div class="quill-wrapper">
        <%= f.text_area :presentation, placeholder: t(:'activerecord.attributes.user.presentation'), class: 'quill_container' %>
      </div>
    </div>

    <div class="field pure-control-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'pure-input-1-4', autocomplete: 'off',
        placeholder: t(:'activerecord.attributes.user.password') %>
      <%= form_info_icon(t(:'users.leave_pwd_blank')) %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'pure-input-1-4', autocomplete: 'off',
        placeholder: t(:'activerecord.attributes.user.password_confirmation') %>
      <%= form_info_icon(t(:'users.password_confirmation_description')) %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: 'pure-input-1-4', autocomplete: 'off',
        placeholder: t(:'activerecord.attributes.user.current_password')  %>
      <%= form_info_icon(t(:'users.pwd_needed_to_confirm')) %>
    </div>

    <div class="actions pure-controls">
      <%= f.submit t(:'users.save'), class: 'pure-button pure-button-primary' %>

    </div>
  </fieldset>
<% end %>

        <div class="profile-images pure-g">
          <div class="pure-u-1">
            <h3><%= t(:'users.media.title') %></h3>
          </div>
          <div class="pure-u pure-u-1-5">
            <%= form_tag user_media_path(resource), method: :post,
              id: 'mediaUploadForm', remote: true, html: { multipart: true } do %>
              <%= link_to '#', class: 'pure-button secondary-button upload-button' do %>
                <i class="fa fa-upload"></i> <%= t(:'common.media.upload') %>
              <% end %>
              <%= file_field_tag 'media[]', type: :file, multiple: true,
                accept: 'image/png,image/gif,image/jpeg,image/jpg',
                id: 'uploadMediaField', class: 'hidden-file-field' %>
            <% end %>
          </div>
          <div class="pure-u pure-u-4-5">
            <div id="progressbar"></div>
          </div>
          <%= render partial: 'shared/image_slider', locals: { media: resource.media } %>
        </div>

        <div class="profile-deletion">
          <h3><%= t(:'users.cancel_account') %></h3>
          <p><%= t(:'users.cancel_account_description') %></p>
          <%= button_to t(:'users.cancel_my_account'),
            registration_path(resource_name),
            data: { confirm: t(:'users.confirm_cancel')},
            method: :delete, class: 'pure-button secondary-button button-error' %></p>
        </div>

      </div>
