<h2><%= I18n.t(:'users.edit') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <em>(<%= I18n.t(:'users.leave_pwd_blank') %>)</em><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <em>(<%= I18n.t(:'users.pwd_needed_to_confirm') %>)</em><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t(:'users.save') %>
  </div>
<% end %>

<h3><%= I18n.t(:'users.cancel_account') %></h3>
<p><%= I18n.t(:'users.cancel_account_description') %></p>
<p><%= button_to I18n.t(:'users.cancel_my_account'), registration_path(resource_name), data: { confirm: I18n.t(:'users.confirm_cancel')}, method: :delete %></p>
