      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="recipe-content-title"><%= I18n.t(:'users.sign_up') %></h1>
        </div>
      </div>

      <div class="page-content-body user-new">
        <%= form_for(resource, as: resource_name,
                     url: registration_path(resource_name),
                     html: { class: 'pure-form pure-form-aligned' }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <div class="field pure-control-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, placeholder: I18n.t(:'activerecord.attributes.user.name') %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', required: true %>
      <% if @minimum_password_length %>
      <em>(<%= I18n.t(:'users.min_pwd_length', min_length: @minimum_password_length) %>)</em>
      <% end %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'off' %>
    </div>

    <div class="actions pure-controls">
      <%= f.submit I18n.t(:'users.sign_up'), class: 'pure-button pure-button-primary' %>
    </div>

    <div class="actions pure-controls">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

  </fieldset>
        </div>
