<%= form_for(@recipe, html: { class: 'pure-form pure-form-aligned medal-placement' }) do |f| %>
  <%= invisible_captcha %>
  <%= hidden_field_tag :clear_search, true %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t(:'activerecord.errors.models.recipe.header', count: @recipe.errors.count) %></h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @event&.present? %>
    <%= render 'shared/event_plate' %>
  <% end %>

  <fieldset>
    <div class="field pure-control-group">
      <%= f.label :beerxml %>
      <%= f.file_field :beerxml, class: 'pure-input-1-4',
        accept: 'application/xml,.xml', required: @recipe.new_record? %>
      <%= form_info_icon(I18n.t(:'recipes.beerxml_description')) %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'pure-input-1-4',
        placeholder: I18n.t(:'activerecord.attributes.recipe.name') %>
      <%= form_info_icon(I18n.t(:'recipes.name_not_needed')) %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :description, class: 'large-group' %>
      <div class="quill-wrapper">
        <%= f.text_area :description, class: 'quill_container',
          placeholder: I18n.t(:'activerecord.attributes.recipe.description') %>
      </div>
    </div>
    <% unless @recipe.persisted? %>
      <% if @event&.present? %>
        <%= hidden_field_tag :event, @event.id %>
      <% else %>
        <div class="field pure-control-group">
          <%= label_tag :event, t(:'recipe_events.exhibited_at_event') %>
          <%= select_tag :event, grouped_options_for_select(Event.event_options, @event&.id),
                class: 'pure-input-1-4', include_blank: t(:'common.no_event') %>
          <%= form_info_icon(I18n.t(:'recipe_events.exhibited_at_event_description')) %>
        </div>
        <div class="field pure-control-group">
          <%= label_tag :medal, t(:'recipe_events.medal') %>
          <%= select_tag :medal, options_for_select(medal_options, ''), class: 'pure-input-1-4' %>
          <%= form_info_icon(I18n.t(:'recipe_events.medal_description')) %>
        </div>
        <div class="field pure-control-group">
          <%= label_tag :category, t(:'recipe_events.category') %>
          <%= text_field_tag :category, '', placeholder: I18n.t(:'recipe_events.category'),
            disabled: true, required: true, class: 'pure-input-1-4' %>
          <%= form_info_icon(I18n.t(:'recipe_events.categeory_description')) %>
        </div>
      <% end %>
    <% end %>
    <div class="actions pure-controls">
      <%= f.label :public, class: 'pure-checkbox' do %>
        <%= f.check_box :public %> <%= I18n.t(:'activerecord.attributes.recipe.public') %>
        <%= form_info_icon(I18n.t(:'recipes.public_description')) %>
      <% end %>
      <br>

      <%= f.submit I18n.t(:'recipes.save'), class: 'pure-button pure-button-primary' %>
    </div>
  </fieldset>
<% end %>
