<%= form_for(@recipe, html: { class: 'pure-form pure-form-aligned' }) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t(:'activerecord.errors.models.recipe.header', count: @recipe.errors.count) %></h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field pure-control-group">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: I18n.t(:'activerecord.attributes.recipe.name') %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :beerxml %>
      <%= f.file_field :beerxml, accept: 'application/xml', required: @recipe.new_record? %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: I18n.t(:'activerecord.attributes.recipe.description') %>
    </div>
    <div class="actions pure-controls">
      <%= f.label :public, class: 'pure-checkbox' do %>
        <%= f.check_box :public %> <%= I18n.t(:'activerecord.attributes.recipe.public') %>
      <% end %>
      <br>

      <%= f.submit I18n.t(:'recipes.save'), class: 'pure-button pure-button-primary' %>
    </div>
  </fieldset>
<% end %>
