<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Visibility</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.owner_name %></td>
        <td><%= recipe.public? ? 'Public' : 'Private' %></td>
        <td>
          <%= link_to 'Show', recipe %>
          <% if user_signed_in? && current_user.can_modify?(recipe) %>
            <%= link_to 'Edit', edit_recipe_path(recipe) %>
            <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Recipe', new_recipe_path %>
<% end %>
