<h1><%= I18n.t(:'recipes.index') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t(:'recipes.name') %></th>
      <th><%= I18n.t(:'recipes.description') %></th>
      <th><%= I18n.t(:'recipes.owner') %></th>
      <th><%= I18n.t(:'recipes.visibility') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.owner_name %></td>
        <td><%= recipe.public? ? I18n.t(:'common.public') : I18n.t(:'common.private') %></td>
        <td>
          <%= link_to I18n.t(:'recipes.show'), recipe %>
          <% if user_signed_in? && current_user.can_modify?(recipe) %>
            <%= link_to I18n.t(:'recipes.edit'), edit_recipe_path(recipe) %>
            <%= link_to I18n.t(:'recipes.destroy.link'), recipe, method: :delete, data: { confirm: I18n.t(:'common.are_you_sure') } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
