<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Public:</strong>
  <%= @recipe.public? ? 'yes' : 'no' %>
</p>

<aside>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
</aside>

<%= render 'shared/recipe_details' %>
