<%
set_meta_tags title: "#{@recipe.name} - #{@recipe.brewer_name}",
  description: @recipe.display_desc,
  keywords: [@recipe.style_name, @beerxml.style&.type, @beerxml.style_code, @beerxml.style&.style_guide],
  reverse: true,
  og: {
    title: :title,
    description: :description,
    site_name: 'Brygglogg.se',
    url: recipe_url(@recipe),
    type: 'product',
    locale: 'sv_SE',
    image: full_url_for(@recipe.main_image(:large)),
  },
  twitter: {
    card: 'summary_large_image',
    site: '@ollej',
    creator: @recipe.user&.twitter,
    title: :title,
    description: :description,
    image: full_url_for(@recipe.main_image(:large)),
    label1: I18n.t(:'recipes.recipe_style'),
    data1: @recipe.style_name,
    label2: I18n.t(:'recipes.owner'),
    data2: @recipe.brewer_name,
    label3: I18n.t(:'beerxml.abv'),
    data3: format_abv(@beerxml.abv),
    label4: I18n.t(:'beerxml.ibu'),
    data4: number_with_precision(@beerxml.ibu, precision: 0),
    label5: I18n.t(:'beerxml.batch_size'),
    data5: "#{number_with_precision(@beerxml.batch_size, precision: 1)} #{t(:'beerxml.liter_abbr')}",
}
%>
<% content_for :head do %>
  <meta name="author" content="<%= @recipe.brewer_name %>">
<% end %>

      <div class="page-content-header pure-g">
        <div class="pure-u-1 pure-u-sm-1-5 recipe-image"><%= media_main_tag(@recipe) %></div>
        <div class="pure-u-1 pure-u-sm-2-5 recipe-header">
          <h1 class="recipe-content-title"><%= title @recipe.name %></h1>
          <p class="recipe-content-details">
            <span class="recipe-style"><%= @recipe.style_name %></span><br>
            <span class="recipe-brewer"><%= link_to @recipe.brewer_name, @recipe.user %></span><br>
            <span class="recipe-created"><%= l(@recipe.created_at, format: :long) %></span>
          </p>
        </div>

        <div class="page-content-controls pure-u-1 pure-u-sm-2-5">
          <div class="controls-public">
            <%= link_to recipe_path(@recipe, format: :xml), rel: :nofollow,
              method: :get, class: 'pure-button secondary-button',
              data: tooltip_data(I18n.t(:'recipes.download_description')) do %>
              <%= icon('download') %> <%= t(:'recipes.download') %>
            <% end %>
            <label class="purecss-dropdown">
              <div class="pure-button secondary-button dd-button"
                data-balloon="<%= I18n.t(:'recipes.print.description') %>"
                data-balloon-pos="left" data-balloon-length="medium">
                <%= icon('print') %> <%= t(:'recipes.print.button') %> <%= icon('caret-down') %>
              </div>
              <input type="checkbox" class="dd-input" id="test">
              <ul class="dd-menu">
                <li>
                  <%= link_to print_recipe_path(id: @recipe),
                    data: tooltip_data(
                      I18n.t(:'recipes.print.recipe.description'),
                      position: 'left'), target: '_blank' do %>
                    <%= icon('file-alt') %> <%= t(:'recipes.print.recipe.link') %>
                  <% end %>
                </li>
                <% if can_modify?(@recipe) %>
                <li>
                  <%= link_to label_recipe_path(id: @recipe),
                    data: tooltip_data(
                      I18n.t(:'recipes.print.labels.description'), position: 'left'),
                    target: '_blank' do %>
                    <%= icon('wine-bottle') %> <%= t(:'recipes.print.labels.link') %>
                  <% end %>
                </li>
                <li>
                <%= link_to qr_recipe_path(@recipe),
                    data: tooltip_data(
                      I18n.t(:'recipes.print.qrcode.description'), position: 'left'),
                    target: '_blank' do %>
                    <%= icon('qrcode') %> <%= t(:'recipes.print.qrcode.link') %>
                  <% end %>
                </li>
                <li>
                <%= link_to poster_recipe_path(@recipe),
                    data: tooltip_data(
                      I18n.t(:'recipes.print.poster.description'), position: 'left'),
                    target: '_blank' do %>
                    <%= icon('scroll') %> <%= t(:'recipes.print.poster.link') %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </label>
          </div>
          <% if user_signed_in? %>
            <div class="controls-signed-in">
              <%= like_tag(@recipe, current_user) %>

              <% if can_modify?(@recipe) %>
                <label class="purecss-dropdown">
                  <div class="pure-button secondary-button dd-button"
                    data-balloon="<%= I18n.t(:'recipes.edit.description') %>"
                    data-balloon-pos="left" data-balloon-length="medium">
                    <%= icon('edit') %> <%= t(:'recipes.edit.button') %> <%= icon('caret-down') %>
                  </div>
                  <input type="checkbox" class="dd-input" id="test">
                  <ul class="dd-menu">
                    <li>
                      <%= link_to recipe_details_path(@recipe),
                        data: tooltip_data(
                          I18n.t(:'recipes.edit.build.description'), position: 'left') do %>
                        <%= icon('edit') %> <%= I18n.t(:'recipes.edit.build.link') %>
                      <% end %>
                    </li>
                    <li>
                    <%= render 'shared/import_button', button_css: '',
                          tooltip: tooltip_data(
                            I18n.t(:'recipes.edit.import.description'),
                            position: 'left'
                          ) %>
                    </li>
                    <li>
                      <%= form_tag recipe_media_path(@recipe),
                        method: :post, id: 'mediaUploadForm',
                        remote: true, multipart: true, class: 'form-button' do %>
                        <%= link_to '#', class: 'upload-button',
                          data: tooltip_data(
                            I18n.t(:'recipes.edit.images.description'),
                            position: 'left') do %>
                          <%= icon('upload') %> <%= I18n.t(:'recipes.edit.images.link') %>
                        <% end %>
                        <%= file_field_tag 'media[]', type: :file, multiple: true,
                          accept: 'image/png,image/gif,image/jpeg,image/jpg',
                          id: 'uploadMediaField', class: 'hidden-file-field' %>
                        <%= hidden_field_tag :media_type, 'main' %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to recipe_events_path(@recipe),
                            data: tooltip_data(
                              I18n.t(:'recipes.edit.events.description'),
                              position: 'left') do %>
                        <%= icon('calendar-alt') %> <%= I18n.t(:'recipes.edit.events.link') %>
                      <% end %>
                    </li>
                    <li>
                    <%= trash_button(
                          @recipe,
                          t(:'recipes.edit.destroy.link'),
                          tooltip: tooltip_data(
                            t(:'recipes.edit.destroy.description'),
                            position: 'left'
                          ),
                          classes: '') %>
                    </li>
                  </ul>
                </label>

                <%= link_to clone_recipe_path(id: @recipe),
                  class: 'pure-button secondary-button',
                  data: tooltip_data(I18n.t(:'recipes.clone_description')) do %>
                  <%= icon('clone') %> <%= t(:'recipes.clone') %>
                <% end %>
              <% end %>
              <div id="progressbar"></div>
            </div>
          <% end %>
        </div>

        <div class="pure-u-1">
          <p class="recipe-content-subtitle">
            <%= format_html(@recipe.description) %>
          </p>
        </div>

        <div class="recipe-badge-list pure-u-1">
          <%= visibility_badge(@recipe) %>
          <%= comments_badge(@recipe) %>
          <%= likes_badge(@recipe) %>
          <%= downloads_badge(@recipe) %>
          <%= render 'shared/share_buttons' %>
        </div>

        <%= render partial: 'shared/image_slider', locals: { media: @recipe.media } %>
      </div>

      <div class="page-content-body recipe-show">
        <div class="tabs">
          <input type="radio" name="tabs" id="tab1" checked>
          <label for="tab1" class="tab-trigger">
            <%= icon('beer') %> <span><%= t(:'recipes.recipe_details') %></span>
          </label>
          <input type="radio" name="tabs" id="tab2">
          <label for="tab2" class="tab-trigger">
            <%= icon('chart-pie') %> <span><%= t(:'recipes.recipe_analytics') %></span>
          </label>
          <input type="radio" name="tabs" id="tab3">
          <label for="tab3" class="tab-trigger">
            <%= icon('comments') %> <span><%= t(:'recipes.recipe_comments') %></span>
          </label>
          <input type="radio" name="tabs" id="tab4">
          <label for="tab4" class="tab-trigger">
            <%= icon('sliders-h') %> <span><%= t(:'recipes.recipe_style') %></span>
          </label>
          <div id="tab-content1" class="tab-content">
<%= render 'shared/recipe_main' %>
          </div>
          <div id="tab-content2" class="tab-content">
<%= render 'shared/gauges' %>
<%= render 'shared/malt_pie' %>
<%= render 'shared/hops_burst' %>
          </div>
          <div id="tab-content3" class="tab-content">
            <%= commontator_thread(@recipe) %>
          </div>
          <div id="tab-content4" class="tab-content">
            <% if @presenter.style_has_values? %>
            <%= render 'shared/style_guide' %>
            <% else %>
              <p><%= t(:'recipes.no_style_information') %></p>
            <% end %>
          </div>
        </div>
      </div>
