<%
set_meta_tags title: @recipe.name,
  description: @recipe.display_desc,
  keywords: [@recipe.style_name, @beerxml.style.type, @beerxml.style_code, @beerxml.style.style_guide],
  reverse: true,
  og: {
    title: :title,
    description: :description,
    site_name: 'Brygglogg.se',
    url: recipe_url(@recipe),
    type: 'product',
    locale: 'sv_SE',
    image: asset_url('brygglogg-logo.png'),
  },
  twitter: {
    card: 'summary',
    site: @recipe.user.try(:twitter) || '@ollej',
    title: :title,
    description: :description,
    image: asset_url('brygglogg-logo.png'),
  }
%>
<% content_for :head do %>
  <meta name="author" content="<%= @recipe.brewer_name %>">
<% end %>

      <div class="page-content-header pure-g">
        <div class="pure-u-3-5 recipe-header">
          <h1 class="recipe-content-title"><%= title @recipe.name %></h1>
          <p class="recipe-content-details">
            <%= t(:'beerxml.style') %>: <%= @recipe.style_name %><br>
            <%= t(:'recipes.owner') %>: <%= link_to @recipe.brewer_name, @recipe.user %><br>
            <%= t(:'recipes.created') %>: <%= l(@recipe.created_at, format: :long) %>
          </p>

        </div>

        <div class="page-content-controls pure-u-2-5">
          <div class="controls-public">
          <%= link_to recipe_path(@recipe, format: :xml), method: :get, class: 'pure-button secondary-button' do %>
            <i class="fa fa-download"></i> <%= t(:'recipes.download') %>
          <% end %>
          <%= link_to "javascript:window.print()", class: 'pure-button secondary-button' do %>
            <i class="fa fa-print"></i> <%= t(:'recipes.print') %>
          <% end %>
        </div>
          <% if user_signed_in? %>
            <div class="controls-signed-in">
            <%= like_tag(@recipe, current_user) %>
            <% if current_user.can_modify?(@recipe) %>
              <%= link_to edit_recipe_path(@recipe), class: 'pure-button secondary-button' do %>
                <i class="fa fa-pencil-square-o"></i> <%= t(:'recipes.edit') %>
              <% end %>
              <%= link_to @recipe, method: :delete, data: { confirm: t(:'common.are_you_sure') }, class: 'pure-button secondary-button' do %>
                <i class="fa fa-trash"></i> <%= t(:'recipes.destroy.link') %>
              <% end %>
            <% end %>
            <%#= link_to t(:'recipes.clone'), clone_recipe_path(@recipe), class: 'pure-button secondary-button' %>
            </div>
          <% end %>
        </div>

        <div class="pure-u-1">
          <p class="recipe-content-subtitle">
            <%= @recipe.description %>
          </p>
        </div>

        <div class="recipe-badge-list pure-u-1">
          <%= visibility_badge(@recipe) %>
          <%= comments_badge(@recipe) %>
          <%= render 'shared/likes_badge' %>
          <%= downloads_badge(@recipe) %>
          <%= render 'shared/share_buttons' %>
        </div>

        <%= render partial: 'shared/image_slider', locals: { media: @recipe.media } %>
      </div>

      <div class="page-content-body recipe-show">
        <div class="tabs">
          <input type="radio" name="tabs" id="tab1" checked>
          <label for="tab1" class="tab-trigger">
            <i class="fa fa-beer"></i><span><%= t(:'recipes.recipe_details') %></span>
          </label>
          <input type="radio" name="tabs" id="tab2">
          <label for="tab2" class="tab-trigger">
            <i class="fa fa-pie-chart"></i><span><%= t(:'recipes.recipe_analytics') %></span>
          </label>
          <input type="radio" name="tabs" id="tab3">
          <label for="tab3" class="tab-trigger">
            <i class="fa fa-comments"></i><span><%= t(:'recipes.recipe_comments') %></span>
          </label>
          <input type="radio" name="tabs" id="tab4">
          <label for="tab4" class="tab-trigger">
            <i class="fa fa-sliders"></i><span><%= t(:'recipes.recipe_style') %></span>
          </label>
          <div id="tab-content1" class="tab-content">
<%= render 'shared/recipe_details' %>
          </div>
          <div id="tab-content2" class="tab-content">
<%= render 'shared/gauges' %>
<%= render 'shared/malt_pie' %>
<%= render 'shared/hops_burst' %>
          </div>
          <div id="tab-content3" class="tab-content">
            <%= commontator_thread(@recipe) %>
          </div>
          <div id="tab-content4" class="tab-content">
            <% if @presenter.style_has_values? %>
            <%= render 'shared/style_guide' %>
            <% else %>
              <p><%= t(:'recipes.no_style_information') %></p>
            <% end %>
          </div>
        </div>
      </div>
