<h1><%= @recipe.name %></h1>

<p>
  <strong><%= I18n.t(:'recipes.visibility') %>:</strong>
  <%= @recipe.public? ? I18n.t(:'common.public') : I18n.t(:'common.private') %>
</p>

<h2><%= I18n.t(:'recipes.description') %></h2>
<p class="recipe-description">
  <%= @recipe.description %>
</p>

<%= render 'shared/recipe_details' %>
