      <div class="recipe-content-header pure-g">
        <div class="pure-u-1-2">
          <h1 class="recipe-content-title"><%= @recipe.name %></h1>
          <p class="recipe-content-subtitle">
            <%= @recipe.description %>
          </p>

        </div>

        <div class="recipe-content-controls pure-u-1-2">
          <% if user_signed_in? %>
            <%= like_tag(@recipe, current_user) %>
            <% if current_user.can_modify?(@recipe) %>
              <%= link_to edit_recipe_path(@recipe), class: 'pure-button secondary-button' do %>
                <i class="fa fa-pencil-square-o"></i> <%= I18n.t(:'recipes.edit') %>
              <% end %>
              <%= link_to @recipe, method: :delete, data: { confirm: I18n.t(:'common.are_you_sure') }, class: 'pure-button secondary-button' do %>
                <i class="fa fa-trash"></i> <%= I18n.t(:'recipes.destroy.link') %>
              <% end %>
            <% end %>
            <%#= link_to I18n.t(:'recipes.clone'), clone_recipe_path(@recipe), class: 'pure-button secondary-button' %>
          <% end %>
          <%= link_to recipe_path(@recipe, format: :xml), method: :get, class: 'pure-button secondary-button' do %>
            <i class="fa fa-download"></i> <%= I18n.t(:'recipes.download') %>
          <% end %>
        </div>

        <div class="recipe-badge-list pure-u">
          <%= visibility_badge(@recipe) %>
          <%= comments_badge(@recipe) %>
          <%= render 'shared/likes_badge' %>
        </div>

      </div>

      <div class="recipe-content-body">
        <div class="tabs">
          <input type="radio" name="tabs" id="tab1" checked>
          <label for="tab1" class="tab-trigger">
            <i class="fa fa-beer"></i><span><%= I18n.t(:'recipes.recipe_details') %></span>
          </label>
          <input type="radio" name="tabs" id="tab2">
          <label for="tab2" class="tab-trigger">
            <i class="fa fa-pie-chart"></i><span><%= I18n.t(:'recipes.recipe_analytics') %></span>
          </label>
          <input type="radio" name="tabs" id="tab3">
          <label for="tab3" class="tab-trigger">
            <i class="fa fa-comments"></i><span><%= I18n.t(:'recipes.recipe_comments') %></span>
          </label>
          <div id="tab-content1" class="tab-content">
<%= render 'shared/recipe_details' %>
          </div>
          <div id="tab-content2" class="tab-content">
<%= render 'shared/gauges' %>
<%= render 'shared/malt_pie' %>
<%= render 'shared/hops_burst' %>
          </div>
          <div id="tab-content3" class="tab-content">
            <%= commontator_thread(@recipe) %>
          </div>
        </div>
      </div>
