      <div class="page-content-header pure-g">
        <div class="pure-u">
          <%= image_tag @user.media_avatar.file.url(:large_thumbnail), class: 'user-avatar', alt: @user.name, height: 64, width: 64 %>
        </div>
        <div class="pure-u">
          <h1 class="user-content-title"><%= title @user.name %></h1>
          <p><%= @user.brewery %></p>
        </div>
        <%= render partial: 'shared/image_slider', locals: { media: @user.media } %>
      </div>

      <div class="page-content-body user-show">
        <div class="user-field">
          <span class="user-field-heading"><%= I18n.t(:'users.recipe_count') %></span>
          <p class="user-field-value"><%= I18n.t(:'users.recipes', count: @user.recipes.size) %></p>
        </div>

        <% if @user.equipment.present? %>
        <div class="user-field">
          <span class="user-field-heading"><%= I18n.t(:'activerecord.attributes.user.equipment') %></span>
          <p class="user-field-value"><%= @user.equipment %></p>
        </div>
        <% end %>

        <% if @user.location.present? %>
        <div class="user-field">
          <span class="user-field-heading"><%= I18n.t(:'activerecord.attributes.user.location') %></span>
          <p class="user-field-value"><%= @user.location %></p>
        </div>
        <% end %>

        <% if @user.url.present? %>
        <div class="user-field">
          <span class="user-field-heading"><%= I18n.t(:'activerecord.attributes.user.url') %></span>
          <p class="user-field-value"><%= link_to @user.url, @user.url, target: '_blank' %></p>
        </div>
        <% end %>

        <% if @user.twitter.present? %>
        <div class="user-field">
          <span class="user-field-heading"><%= I18n.t(:'activerecord.attributes.user.twitter') %></span>
          <p class="user-field-value"><%= link_to @user.twitter, twitter_url(@user.twitter), target: '_blank' %></p>
        </div>
        <% end %>

        <% if @user.presentation.present? %>
        <div class="user-field">
          <h3><%= I18n.t(:'activerecord.attributes.user.presentation') %></h3>
          <p><%= @user.presentation.html_safe %></p>
        </div>
        <% end %>

      </div>
