      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="recipe-content-title"><%= I18n.t(:'devise.passwords.recover_password') %></h1>
        </div>
      </div>

      <div class="page-content-body password-new">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                   html: { method: :post, class: 'pure-form pure-form-aligned' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

        <fieldset>
          <div class="field pure-control-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
          </div>

          <div class="actions pure-controls">
            <%= f.submit I18n.t(:'devise.passwords.reset_password'), class: 'pure-button pure-button-primary' %>
          </div>

<%= render "devise/shared/links" %>
        </fieldset>
<% end %>

      </div>
