<div id="brew-timer-<%= step_type %>" role="dialog" class="brew-timer modal fade no-auto-hide"
  data-step-type="<%= step_type %>"
  <% if step_type == "mash" %>
  data-brewtimer-steps="<%= @brew_steps.mash_step_list.to_json %>"
  <% else %>
  data-brewtimer-steps="<%= @brew_steps.boil_step_list.to_json %>"
  <% end %>
  aria-labelledby="brew-timer-title-<%= step_type %>" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <%= button_tag class: 'close brew-timer-close', data: { dismiss: 'modal' } do %>
          <i class="fa fa-times"></i>
        <% end %>
        <%= button_tag class: 'expand brew-timer-expand' do %>
          <i class="fas fa-expand"></i>
        <% end %>
        <h3 class="modal-title" id="brew-timer-title-<%= step_type %>">
          <i class="far fa-clock"></i>
          <%= t(:"brewtimer.title.#{step_type}") %></h3>
      </div>
      <div class="modal-body">
        <div class="timer-content">
          <%= image_tag "timer-spinner.svg", class: "timer-spinner" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to '#reset-timer', class: 'brew-timer-reset pure-button button-warning' do %>
          <i class="fas fa-undo-alt"></i><span> <%= t(:'brewtimer.reset') %></span>
        <% end %>
        <%= link_to '#step-backward', class: 'brew-timer-step-backward pure-button pure-button-secondary' do %>
          <i class="fas fa-step-backward"></i><span> <%= t(:'brewtimer.previous') %></span>
        <% end %>
        <%= link_to '#next-step', class: 'brew-timer-start pure-button pure-button-primary' do %>
          <i class="fa fa-play-circle"></i><span> <%= t(:'brewtimer.start') %></span>
        <% end %>
        <%= link_to '#pause-timer', class: 'brew-timer-pause pure-button pure-button-primary hidden' do %>
          <i class="fa fa-pause-circle"></i><span> <%= t(:'brewtimer.pause') %></span>
        <% end %>
        <%= link_to '#step-forward', class: 'brew-timer-step-forward pure-button pure-button-secondary' do %>
          <i class="fas fa-step-forward"></i><span> <%= t(:'brewtimer.next') %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
