<h4><%= t(:'event_recipes.add_placement') %></h4>
<%= form_tag(event_recipes_path(@event), method: :post, remote: true, id: 'event-recipes-form',
             class: 'pure-form pure-form-aligned medal-placement') do %>
  <%= hidden_field :event, :id, value: @event.id %>
  <fieldset>
    <div class="field pure-control-group">
      <%= label :event, :recipe_id, t(:'event_recipes.choose_recipe') %>
      <%= select_tag 'event[recipe_id]', options_for_select(@event.recipe_options, ''),
            class: 'pure-input-1-4' %>
      <%= form_info_icon(I18n.t(:'recipe_events.exhibited_at_event_description')) %>
    </div>
    <div class="field pure-control-group">
      <%= label :event, :medal, t(:'recipe_events.medal') %>
      <%= select_tag 'event[medal]', options_for_select(medal_options, ''),
        class: 'pure-input-1-4' %>
      <%= form_info_icon(I18n.t(:'recipe_events.medal_description')) %>
    </div>
    <div class="field pure-control-group">
      <%= label :event, :category, t(:'recipe_events.category') %>
      <%= text_field_tag 'event[category]', '', placeholder: I18n.t(:'recipe_events.category'),
            disabled: true, required: true, class: 'pure-input-1-4' %>
      <%= form_info_icon(I18n.t(:'recipe_events.categeory_description')) %>
    </div>
    <div class="actions pure-controls">
      <%= button_tag name: I18n.t(:'recipe_events.add'), type: :submit, class: 'pure-button pure-button-secondary' do %>
        <i class="fas fa-plus-circle"></i> <%= t('recipe_events.add') %>
      <% end %>
    </div>
  </fieldset>
<% end %>

