            <div class="gauges">
<%= render 'shared/ibu_gauge' %>
<%= render 'shared/og_gauge' %>
<%= render 'shared/fg_gauge' %>
<%= render 'shared/abv_gauge' %>
<%= render 'shared/ebc_gauge' %>
            </div>

