    <li class="media-thumbnail">
      <%= link_to medium.file.url, class: 'fancybox', rel: :group do %>
        <%= image_tag medium.file.url(:small) %>
      <% end %>
      <% if current_user.can_modify?(medium.parent) %>
        <div class="media-buttons">
          <% if medium.parent.class.name == 'User' %>
            <%= link_to add_medium_path(medium, 'avatar'), remote: true, method: :post,
              alt: t(:'activerecord.attributes.user.medium_avatar'),
              title: t(:'activerecord.attributes.user.medium_avatar'),
              data: { confirm: I18n.t(:'activerecord.attributes.medium.confirm_avatar') },
              class: 'media-button media-add-button' do %>
              <i class="fa fa-user"></i>&nbsp;
            <% end %>
            <%= link_to add_medium_path(medium, 'brewery'), remote: true, method: :post,
              alt: t(:'activerecord.attributes.user.medium_brewery'),
              title: t(:'activerecord.attributes.user.medium_brewery'),
              data: { confirm: I18n.t(:'activerecord.attributes.medium.confirm_brewery') },
              class: 'media-button media-add-button' do %>
              <i class="fa fa-industry"></i>&nbsp;
            <% end %>
          <% end %>
          <% if medium.parent.class.name == 'Recipe' %>
            <%= link_to add_medium_path(medium, 'main'), remote: true, method: :post,
              alt: t(:'activerecord.attributes.recipe.medium_main'),
              title: t(:'activerecord.attributes.recipe.medium_main'),
              data: { confirm: I18n.t(:'activerecord.attributes.medium.confirm_main') },
              class: 'media-button media-add-button' do %>
              <i class="fa fa-photo"></i>&nbsp;
            <% end %>
          <% end %>
          <%= link_to destroy_medium_path(medium), remote: true, method: :delete,
            alt: t(:'activerecord.attributes.user.destroy.media'),
            title: t(:'activerecord.attributes.user.destroy.media'),
            data: { confirm: I18n.t(:'activerecord.attributes.medium.confirm_destroy') },
            class: 'media-button media-destroy-button' do %>
            <i class="fa fa-trash"></i>&nbsp;
          <% end %>
        </div>
      <% end %>
    </li>

