<div id="nav" class="pure-u">
  <%= link_to root_path do %>
    <%= image_tag 'brygglogg-logo.png', width: 96, height: 96, id: 'logo' %>
  <% end %>

  <a href="#" class="nav-menu-button">Menu</a>

  <div class="nav-inner">
    <%= link_to t(:'recipes.new'), new_recipe_path, class: 'primary-button pure-button' %>

    <div class="pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <i class="fa fa-beer"></i><%= link_to t(:'recipes.index'),
            recipes_path(clear_search: true), class: 'pure-menu-link' %>
        </li>
        <li class="pure-menu-item">
          <i class="fa fa-user"></i><%= link_to t(:'users.index'),
            users_path, class: 'pure-menu-link' %>
        </li>
      <% if user_signed_in? %>
        <li class="pure-menu-item">
          <i class="fa fa-user"></i><%= link_to t(:'users.profile'),
            edit_user_registration_path, class: 'pure-menu-link' %>
        </li>
        <li class="pure-menu-item">
          <i class="fa fa-sign-out"></i><%= link_to t(:'users.sign_out'),
            destroy_user_session_path, class: 'pure-menu-link' %>
        </li>
      <% else %>
        <li class="pure-menu-item">
          <i class="fa fa-sign-in"></i><%= link_to t(:'users.sign_in'),
            new_user_session_path, class: 'pure-menu-link' %>
        </li>
        <li class="pure-menu-item">
          <i class="fa fa-user-plus"></i><%= link_to t(:'users.sign_up'),
            new_user_registration_path, class: 'pure-menu-link' %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="pure-menu-heading"><%= t(:'recipes.labels') %></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="recipe-label-private"></span><%= t(:'recipes.private') %></a></li>
        <li class="pure-menu-item">
          <%= link_to user_path(current_user), class: 'pure-menu-link' do %>
            <span class="recipe-label-own"></span><%= t(:'recipes.own') %>
          <% end %>
        </li>
      <% end %>
        <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="recipe-label-winner"></span><%= t(:'recipes.winner') %></a></li> -->
      </ul>
    </div>

    <%= render 'shared/pushover_button' %>
    <!-- <a href="http://utopianrealms.org/dextral.php?pg=8792">gala</a> -->
  </div>
</div>
