<h4><%= t(:'recipe_events.add_event') %></h4>
<%= form_tag(recipe_events_path(@recipe), method: :post, remote: true, id: 'recipe-events-form',
             class: 'pure-form pure-form-aligned medal-placement') do %>
  <%= hidden_field :event, :recipe_id, value: @recipe.id %>
  <fieldset>
    <div class="field pure-control-group">
      <%= label :event, :id, t(:'recipe_events.choose') %>
      <%= select :event, :id, grouped_options_for_select(Event.event_options, ''), {},
            class: 'pure-input-1-4' %>
      <%= form_info_icon(I18n.t(:'recipe_events.exhibited_at_event_description')) %>
    </div>
    <div class="field pure-control-group">
      <%= label :event, :medal, t(:'recipe_events.medal') %>
      <%= select :event, :medal, options_for_select(medal_options, ''), {},
        class: 'pure-input-1-4' %>
      <%= form_info_icon(I18n.t(:'recipe_events.medal_description')) %>
    </div>
    <div class="field pure-control-group">
      <%= label :event, :category, t(:'recipe_events.category') %>
      <%= text_field :event, :category, placeholder: I18n.t(:'recipe_events.category'),
            disabled: true, required: true, class: 'pure-input-1-4' %>
      <%= form_info_icon(I18n.t(:'recipe_events.categeory_description')) %>
    </div>
    <div class="actions pure-controls">
      <%= button_tag name: I18n.t(:'recipe_events.add'), type: :submit, class: 'pure-button pure-button-secondary' do %>
        <i class="fa fa-plus-circle"></i> <%= t('recipe_events.add') %>
      <% end %>
    </div>
  </fieldset>
<% end %>

