  <div class="list-item linked-item pure-g <%= item_classes_for(item, current_user) %>">
    <div class="pure-u">
      <%= image_tag avatar_for(item), class: 'user-avatar item-image',
        alt: item.owner_name, height: 64, width: 64 %>
    </div>

    <div class="pure-u-5-8 item-information recipe-item-description">
      <h5 class="item-subtitle recipe-name"><%= t(:'latest_items.recipe') %></h5>
      <h4 class="item-title recipe-subject">
        <%= link_to shorten(item.name), item, class: 'recipe-link item-link' %>
      </h4>
      <p class="item-desc recipe-desc">
        <%= shorten(item.style_name, 27) %>
      </p>
    </div>
  </div>

