    <article class="box post beer_recipe" itemscope itemtype="http://schema.org/Recipe">
      <meta itemprop="name" content="<%= @beerxml.name %>">
      <meta itemprop="author" content="<%= @beerxml.brewer %>">
      <meta itemprop="recipeCategory" content="beverage">
      <meta itemprop="totalTime" content="<%= @beerxml.total_time_period %>">
      <meta itemprop="cookTime" content="<%= @beerxml.boil_time_period %>">

      <aside class="recipe_information">
        <h2><%= t(:'beerxml.information') %></h2>

        <div class="recipe_style">
          <h3><%= t(:'beerxml.style') %></h3>
          <p><%= @beerxml.style.name %> <%= @presenter.style_type %></p>
        </div>

        <% if @beerxml.style.type.present? %>
        <div class="recipe_type">
          <h3><%= t(:'beerxml.type') %></h3>
          <p><%= @beerxml.style.type %></p>
        </div>
        <% end %>

        <div class="recipe_grains">
          <h3><%= t(:'beerxml.grains') %></h3>
          <p><%= '%.2f' % @beerxml.total_grains %> <%= t(:'beerxml.kilograms') %></p>
        </div>

        <div class="recipe_hops">
          <h3><%= t(:'beerxml.hops') %></h3>
          <p><%= '%.0f' % @beerxml.total_hops %> <%= t(:'beerxml.grams') %></p>
        </div>

        <div class="recipe_equipment">
          <% if @presenter.equipment_name.present? %>
          <h3><%= t(:'beerxml.equipment') %></h3>
          <p><%= @presenter.equipment_name %></p>
          <% end %>
        </div>

        <div class="recipe_date">
          <h3><%= t(:'beerxml.brew_date') %></h3>
          <p><%= @presenter.date %></p>
        </div>

        <% if @beerxml.brewer.present? %>
        <div class="recipe_brewer">
          <h3><%= t(:'beerxml.brewer') %></h3>
          <p>
            <%= @beerxml.brewer %> <% unless @beerxml.asst_brewer.blank? %>(<%= t(:'beerxml.assisted_by', assistant: @beerxml.asst_brewer) %>)<% end %>
          </p>
        </div>
        <% end %>
      </aside>

      <section class="recipe_details">
        <h2><%= t(:'beerxml.recipe_details') %></h2>
        <table>
          <thead>
            <tr>
              <th><%= t(:'beerxml.batch_size') %></th>
              <th><%= t(:'beerxml.boil_time') %></th>
              <th><%= t(:'beerxml.ibu') %></th>
              <th><%= t(:'beerxml.og') %></th>
              <th><%= t(:'beerxml.fg') %></th>
              <th><%= t(:'beerxml.abv') %></th>
              <th><%= t(:'beerxml.calories_per_liter') %></th>
              <th><%= t(:'beerxml.color') %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="recipe_batch_size format_number" itemprop="recipeYield"><%= '%.1f' % @beerxml.batch_size %> <%= t(:'beerxml.liter_abbr') %></td>
              <td class="recipe_boil_time format_number"><%= '%.0f' % @beerxml.boil_time %> <%= t(:'beerxml.minutes') %></td>
              <td class="recipe_ibu format_number"><%= '%.0f' % @beerxml.ibu %></td>
              <td class="recipe_og format_number"><%= '%.3f' % @beerxml.og %> <%= t(:'beerxml.sg') %></td>
              <td class="recipe_fg format_number"><%= '%.3f' % @beerxml.fg %> <%= t(:'beerxml.sg') %></td>
              <td class="recipe_abv format_number"><%= '%.1f' % @beerxml.abv %><%= t(:'beerxml.percent_sign') %></td>
              <td class="recipe_calories format_number" itemprop="nutrition" itemscope
                itemtype="http://schema.org/NutritionInformation">
                <span itemprop="calories"><%= '%.0f' % @beerxml.calories %></span>
                <meta itemprop="servingSize" content="1 L">
              </td>
              <td class="recipe_color format_number">
                <%= @presenter.color_of(@beerxml) %> <%= t(:'beerxml.ebc') %>
                <div class="colorbox" style="background-color: <%= @beerxml.color_hex %>">&nbsp;</div>
                <!-- <div class="colorbox <%= @beerxml.color_class %>">&nbsp;</div> --></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="recipe_fermentables">
        <h2><%= t(:'beerxml.fermentables') %></h2>
        <table>
          <thead>
            <tr>
              <th><%= t(:'beerxml.percent') %></th>
              <th><%= t(:'beerxml.fermentable_name') %></th>
              <th><%= t(:'beerxml.fermentable_amount') %></th>
              <th><%= t(:'beerxml.fermentable_type') %></th>
              <th><%= t(:'beerxml.fermentable_color') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.fermentables.each do |f| %>
            <meta itemprop="recipeIngredient"
              content="<%= f.formatted_amount %> <%= t(:'beerxml.kilograms') %> <%= f.name %>">
            <tr>
              <td class="fermentable_percent format_number"><%= @presenter.amount_percent(f) %></td>
              <td class="fermentable_name"><%= f.name %></td>
              <td class="fermentable_amount format_number"><%= f.formatted_amount %> <%= t(:'beerxml.kilograms') %></td>
              <td class="fermentable_type"><%= trans(f.type, 'Grain') %></td>
              <td class="fermentable_color format_number">
                <%= @presenter.color_of(f) %> <%= t(:'beerxml.ebc') %>
                <div class="colorbox" style="background-color: <%= f.color_hex %>">&nbsp;</div>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>

      <section class="recipe_hops">
        <h2><%= t(:'beerxml.hops') %></h2>
        <table>
          <thead>
            <tr>
              <th><%= t(:'beerxml.percent_sign') %></th>
              <th><%= t(:'beerxml.hops_name') %></th>
              <th><%= t(:'beerxml.hops_amount') %></th>
              <th><%= t(:'beerxml.hops_time') %></th>
              <th><%= t(:'beerxml.hops_use') %></th>
              <th><%= t(:'beerxml.hops_form') %></th>
              <th><%= t(:'beerxml.hops_alpha') %></th>
              <th><%= t(:'beerxml.hops_ibu') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.hops.each do |hop| %>
            <meta itemprop="recipeIngredient"
            content="<%= hop.formatted_amount %> <%= t(:'beerxml.grams') %> <%= hop.name %> (<%= trans(hop.use, 'Boil') %> <%= hop.formatted_time %> <%= trans(hop.time_unit, 'min') %>)">
            <tr>
              <td class="hops_percent format_number"><%= '%.1f' % hop.amount_percent %><%= t(:'beerxml.percent_sign') %></td>
              <td class="hops_name"><%= hop.name %></td>
              <td class="hops_amount format_number"><%= hop.formatted_amount %> <%= t(:'beerxml.grams') %></td>
              <td class="hops_time format_number"><%= hop.formatted_time %> <%= trans(hop.time_unit, 'min') %></td>
              <td class="hops_use"><%= trans(hop.use, 'Boil') %></td>
              <td class="hops_form"><%= trans(hop.form, 'Leaf') %></td>
              <td class="hops_alpha format_number"><%= hop.alpha %><%= t(:'beerxml.percent_sign') %></td>
              <td class="hops_ibu format_number"><%= hop.formatted_ibu %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>

      <% if @beerxml.miscs.count > 0 %>
      <section class="recipe_miscs">
        <h2><%= t(:'beerxml.miscs') %></h2>
        <table>
          <thead>
            <tr>
              <th><%= t(:'beerxml.misc_name') %></th>
              <th><%= t(:'beerxml.misc_amount') %></th>
              <th><%= t(:'beerxml.misc_type') %></th>
              <th><%= t(:'beerxml.misc_use') %></th>
              <th><%= t(:'beerxml.misc_time') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.miscs.each do |m| %>
            <meta itemprop="recipeIngredient"
            content="<%= m.formatted_amount %> <%= trans(m.unit, 'min') %> <%= m.name %>">
            <tr>
              <td class="misc_name"><%= trans(m.name, 'Other') %></td>
              <td class="misc_amount format_number"><%= m.formatted_amount %> <%= trans(m.unit, 'min') %></td>
              <td class="misc_type"><%= trans(m.type, 'Other') %></td>
              <td class="misc_use"><%= trans(m.use, 'Boil') %></td>
              <td class="misc_time"><%= m.formatted_time %> <%= trans(m.time_unit, 'min') %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <section class="yeasts">
        <h2><%= t(:'beerxml.yeasts') %></h2>
        <table>
          <thead>
            <tr>
              <th><%= t(:'beerxml.yeast_name') %></th>
              <th><%= t(:'beerxml.yeast_product_id') %></th>
              <th><%= t(:'beerxml.yeast_lab') %></th>
              <th><%= t(:'beerxml.yeast_form') %></th>
              <th><%= t(:'beerxml.yeast_attenuation') %></th>
              <th><%= t(:'beerxml.yeast_temperature') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.yeasts.each do |yeast| %>
            <tr>
              <meta itemprop="recipeIngredient" content="<%= yeast.name %> (<%= yeast.product_id %>) <%= yeast.laboratory %>">
              <td class="yeast_name"><%= yeast.name %></td>
              <td class="yeast_product_id"><%= yeast.product_id %></td>
              <td class="yeast_laboratory"><%= yeast.laboratory %></td>
              <td class="yeast_form"><%= trans(yeast.form, 'Culture') %></td>
              <td class="yeast_attenuation format_number"><%= yeast.formatted_attenuation %></td>
              <td class="yeast_temperatures format_number"><%= yeast.formatted_temperatures %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>

      <section class="recipe_mash" itemprop="recipeInstructions"
        itemscope itemtype="https://schema.org/ItemList">
        <h2><%= t(:'beerxml.mash') %></h2>
        <table>
          <thead>
            <tr>
              <th><%= t(:'beerxml.mash_name') %></th>
              <th><%= t(:'beerxml.mash_type') %></th>
              <th><%= t(:'beerxml.mash_infuse_amount') %></th>
              <th><%= t(:'beerxml.mash_step_temp') %></th>
              <th><%= t(:'beerxml.mash_ramp_time') %></th>
              <th><%= t(:'beerxml.mash_step_time') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.mash.steps.each do |step| %>
              <tr>
                <meta itemprop="name" content="<%= t("beerxml.#{step.name}", default: step.name) %> (<%= t("beerxml.#{step.type}", default: step.type) %>) <%= step.formatted_step_temp %><%= t(:'beerxml.degrees') %> @ <%= step.formatted_step_time %> <%= t(:'beerxml.minutes') %>">
                <td class="mash_name"><%= t("beerxml.#{step.name}", default: step.name) %></td>
                <td class="mash_type"><%= t("beerxml.#{step.type}", default: step.type) %></td>
                <td class="mash_infuse_amount format_number"><%= step.formatted_infuse_amount %> <%= t(:'beerxml.liter_abbr') %></td>
                <td class="mash_step_temp format_number"><%= step.formatted_step_temp %><%= t(:'beerxml.degrees') %></td>
                <td class="mash_ramp_time format_number"><%= step.formatted_ramp_time %> <%= t(:'beerxml.minutes') %></td>
                <td class="mash_step_time format_number"><%= step.formatted_step_time %> <%= t(:'beerxml.minutes') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>

    </article>

