    <article class="box post beer_recipe pure-g" itemscope
        itemtype="http://schema.org/Recipe">
      <meta itemprop="name" content="<%= @beerxml.name %>">
      <meta itemprop="author" content="<%= @beerxml.brewer %>">
      <meta itemprop="recipeCategory" content="beverage">
      <meta itemprop="totalTime" content="<%= @beerxml.total_time_period %>">
      <meta itemprop="cookTime" content="<%= @beerxml.boil_time_period %>">

      <div class="recipe-tables pure-u-1 pure-u-xl-4-5">
      <section class="recipe_details recipe-section">
        <h2><%= t(:'beerxml.recipe_details') %></h2>
        <table class="recipe-table zebra">
          <thead>
            <tr>
              <th><%= t(:'beerxml.batch_size') %></th>
              <th><%= t(:'beerxml.boil_time') %></th>
              <th><%= t(:'beerxml.ibu') %></th>
              <th><%= t(:'beerxml.og') %></th>
              <th><%= t(:'beerxml.fg') %></th>
              <th><%= t(:'beerxml.abv') %></th>
              <th><%= t(:'beerxml.calories_per_liter') %></th>
              <th><%= t(:'beerxml.color') %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="recipe_batch_size format_number" itemprop="recipeYield"><%= number_with_precision(@beerxml.batch_size, precision: 1) %> <%= t(:'beerxml.liter_abbr') %></td>
              <td class="recipe_boil_time format_number"><%= number_with_precision(@beerxml.boil_time, precision: 0) %> <%= t(:'beerxml.minutes') %></td>
              <td class="recipe_ibu format_number"><%= number_with_precision(@beerxml.ibu, precision: 0) %></td>
              <td class="recipe_og format_number"><%= format_sg(@beerxml.og) %> <%= t(:'beerxml.sg') %></td>
              <td class="recipe_fg format_number"><%= format_sg(@beerxml.fg) %> <%= t(:'beerxml.sg') %></td>
              <td class="recipe_abv format_number"><%= format_abv(@beerxml.abv) %></td>
              <td class="recipe_calories format_number" itemprop="nutrition" itemscope
                itemtype="http://schema.org/NutritionInformation">
                <span itemprop="calories"><%= number_with_precision(@beerxml.calories, precision: 0) %></span>
                <meta itemprop="servingSize" content="1 L">
              </td>
              <td class="recipe_color format_number">
                <%= number_with_precision(@beerxml.color_ebc, precision: 0) %> <%= t(:'beerxml.ebc') %>
                <div class="colorbox" style="background-color: <%= @beerxml.color_hex %>">&nbsp;</div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <% if @beerxml.fermentables.count > 0 %>
      <section class="recipe_fermentables recipe-section">
        <h2><%= t(:'beerxml.fermentables') %></h2>
        <% @beerxml.fermentables.each do |f| %>
        <meta itemprop="recipeIngredient"
          content="<%= number_with_precision(f.amount, precision: 2) %> <%= t(:'beerxml.kilograms') %> <%= f.name %>">
        <% end %>
        <table class="recipe-table zebra-expanded">
          <thead>
            <tr>
              <th><%= t(:'beerxml.fermentable_name') %></th>
              <th><%= t(:'beerxml.fermentable_amount') %></th>
              <th><%= t(:'beerxml.percent') %></th>
              <th><%= t(:'beerxml.fermentable_type') %></th>
              <th><%= t(:'beerxml.fermentable_color') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.fermentables.each do |f| %>
            <tr class="details-row">
              <td class="fermentable_name"><%= f.name %></td>
              <td class="fermentable_amount format_number"><%= number_with_precision(f.amount, precision: 2) %> <%= t(:'beerxml.kilograms') %></td>
              <td class="fermentable_percent format_number"><%= number_to_percentage(f.amount_percent, precision: 1) %></td>
              <td class="fermentable_type"><%= trans(f.type, 'Grain') %></td>
              <td class="fermentable_color format_number">
                <%= number_with_precision(f.color_ebc, precision: 0) %> <%= t(:'beerxml.ebc') %>
                <div class="colorbox" style="background-color: <%= f.color_hex %>">&nbsp;</div>
              </td>
            </tr>
            <tr class="info-row">
              <td class="fermentables-info" colspan="5">
                <p>
                  <% if f.coarse_fine_diff.present? %>
                    <span class="hop-info"><%= t(:'beerxml.coarse_fine_difference') %>: <%= number_to_percentage(f.coarse_fine_diff, precision: 2) %></span><br>
                  <% end %>
                  <% if f.moisture.present? %>
                    <span class="hop-info"><%= t(:'beerxml.moisture') %>: <%= number_to_percentage(f.moisture, precision: 2) %></span><br>
                  <% end %>
                  <% if f.yield.present? %>
                    <span class="hop-info"><%= t(:'beerxml.yield') %>: <%= number_to_percentage(f.yield, precision: 0) %></span><br>
                  <% end %>
                  <% if f.potential.present? %>
                    <span class="hop-info"><%= t(:'beerxml.potential') %>: <%= format_sg(f.potential) %> <%= t(:'beerxml.sg') %></span><br>
                  <% end %>
                  <% if f.diastatic_power.present? %>
                    <span class="hop-info"><%= t(:'beerxml.diastatic_power') %>: <%= number_with_precision(f.diastatic_power, precision: 1) %> Lintner</span><br>
                  <% end %>
                  <% if f.max_in_batch.present? %>
                    <span class="hop-info"><%= t(:'beerxml.max_in_batch') %>: <%= number_to_percentage(f.max_in_batch, precision: 0) %></span><br>
                  <% end %>
                  <% if f.protein.present? %>
                    <span class="hop-info"><%= t(:'beerxml.protein') %>: <%= number_to_percentage(f.protein, precision: 1) %></span><br>
                  <% end %>
                  <% if f.ibu_gal_per_lb.present? && f.ibu_gal_per_lb > 0 %>
                    <span class="hop-info"><%= t(:'beerxml.ibu_gal_per_lb') %>: <%= number_with_precision(f.ibu_gal_per_lb, precision: 1) %></span><br>
                  <% end %>
                  <% if f.recommend_mash.present? %>
                    <span class="hop-info"><%= t(:'beerxml.recommend_mash') %>: <%= t("common.#{f.recommend_mash ? 'yes' : 'no'}") %></span><br>
                  <% end %>
                  <% if f.add_after_boil.present? %>
                    <span class="hop-info"><%= t(:'beerxml.add_after_boil') %>: <%= t("common.#{f.add_after_boil ? 'yes' : 'no'}") %></span><br>
                  <% end %>
                  <% if f.origin.present? %>
                    <span class="fermentable-info"><%= t(:'beerxml.origin') %>: <%= trans(f.origin) %></span><br>
                  <% end %>
                  <% if f.supplier.present? %>
                    <span class="fermentable-info"><%= t(:'beerxml.supplier') %>: <%= f.supplier %></span>
                  <% end %>
                </p>
                <% if f.notes.present? %>
                  <p><span class="fermentable-info fermentable-notes"><%= f.notes %></span></p>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <% if @beerxml.hops.count > 0 %>
      <section class="recipe_hops recipe-section">
        <h2><%= t(:'beerxml.hops') %></h2>
        <% @beerxml.hops.each do |hop| %>
          <meta itemprop="recipeIngredient"
            content="<%= number_with_precision(hop.amount, precision: 0) %> <%= t(:'beerxml.grams') %> <%= hop.name %> (<%= trans(hop.use, 'Boil') %> <%= hop.formatted_time %> <%= trans(hop.time_unit, 'min') %>)">
        <% end %>
        <table class="recipe-table zebra-expanded">
          <thead>
            <tr>
              <!--
              <th><%= t(:'beerxml.percent_sign') %></th>
              -->
              <th><%= t(:'beerxml.hops_name') %></th>
              <th><%= t(:'beerxml.hops_amount') %></th>
              <th><%= t(:'beerxml.hops_time') %></th>
              <th><%= t(:'beerxml.hops_use') %></th>
              <th><%= t(:'beerxml.hops_form') %></th>
              <th><%= t(:'beerxml.hops_alpha') %></th>
              <th><%= t(:'beerxml.hops_ibu') %></th>
              <th><%= t(:'beerxml.grams_per_liter') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.hops.each do |hop| %>
            <tr class="details-row">
              <td class="hops_name"><%= hop.name %></td>
              <td class="hops_amount format_number"><%= number_with_precision(hop.amount, precision: 0) %> <%= t(:'beerxml.grams') %></td>
              <td class="hops_time format_number"><%= hop.formatted_time %> <%= trans(hop.time_unit, 'min') %></td>
              <td class="hops_use"><%= trans(hop.use, 'Boil') %></td>
              <td class="hops_form"><%= trans(hop.form, 'Leaf') %></td>
              <td class="hops_alpha format_number"><%= number_to_percentage(hop.alpha, precision: 2) %></td>
              <td class="hops_ibu format_number"><%= number_with_precision(hop.ibu, precision: 1) %></td>
              <td class="hops_grpl format_number"><%= number_with_precision(@presenter.hop_grams_per_liter(hop), precision: 1) %></td>
            </tr>
            <tr class="info-row">
              <td class="hops-info" colspan="8">
                <p>
                  <span class="hop-info"><%= @presenter.mgl_added_alpha_acids(hop) %> <%= t(:'beerxml.mg_per_liter_aa') %></span><br>
                  <span class="hop-info"><%= number_with_precision(hop.aau, precision: 1) %> <%= t(:'beerxml.aau') %></span><br>
                  <% if hop.beta.present? %>
                    <span class="hop-info"><%= t(:'beerxml.beta') %>: <%= number_to_percentage(hop.beta, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.caryophyllene.present? %>
                    <span class="hop-info"><%= t(:'beerxml.caryophyllene') %>: <%= number_to_percentage(hop.caryophyllene, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.cohumulone.present? %>
                    <span class="hop-info"><%= t(:'beerxml.cohumulone') %>: <%= number_to_percentage(hop.cohumulone, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.hsi.present? %>
                    <span class="hop-info"><%= t(:'beerxml.hsi') %>: <%= number_to_percentage(hop.hsi, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.myrcene.present? %>
                    <span class="hop-info"><%= t(:'beerxml.myrcene') %>: <%= number_to_percentage(hop.myrcene, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.origin.present? %>
                    <span class="hop-info"><%= t(:'beerxml.origin') %>: <%= trans(hop.origin) %></span><br>
                  <% end %>
                  <% if hop.substitutes.present? %>
                    <span class="hop-info"><%= t(:'beerxml.substitutes') %>: <%= hop.substitutes %></span><br>
                  <% end %>
                </p>
                <% if hop.notes.present? %>
                  <p><span class="hop-info hop-notes"><%= hop.notes %></span></p>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <% if @beerxml.miscs.count > 0 %>
      <section class="recipe_miscs recipe-section">
        <h2><%= t(:'beerxml.miscs') %></h2>
        <% @beerxml.miscs.each do |m| %>
          <meta itemprop="recipeIngredient"
            content="<%= number_with_precision(m.amount, precision: 0) %> <%= trans(m.unit, 'gr') %> <%= m.name %>">
        <% end %>
        <table class="recipe-table zebra-expanded">
          <thead>
            <tr>
              <th><%= t(:'beerxml.misc_name') %></th>
              <th><%= t(:'beerxml.misc_amount') %></th>
              <th><%= t(:'beerxml.misc_type') %></th>
              <th><%= t(:'beerxml.misc_use') %></th>
              <th><%= t(:'beerxml.misc_time') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.miscs.each do |misc| %>
            <tr class="details-row">
              <td class="misc_name"><%= trans(misc.name, 'Other') %></td>
              <td class="misc_amount format_number">
                <%= misc_amount(misc) %>
                <%= trans(misc.unit, 'gr') %>
              </td>
              <td class="misc_type"><%= trans(misc.type, 'Other') %></td>
              <td class="misc_use"><%= trans(misc.use) %></td>
              <td class="misc_time">
                <% if misc.time.present? %>
                  <%= misc.formatted_time %> <%= trans(misc.time_unit, 'min') %>
                <% end %>
              </td>
            </tr>
            <tr class="info-row">
              <td class="yeasts-info" colspan="6">
                <p>
                  <% if misc.use_for.present? %>
                    <span class="misc-info"><%= t(:'beerxml.use_for') %>: <%= trans(misc.use_for) %></span><br>
                  <% end %>
                </p>
                <% if misc.notes.present? %>
                  <p><span class="misc-info"><%= trans(misc.notes) %></span></p>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <% if @beerxml.yeasts.count > 0 %>
      <section class="recipe_yeasts recipe-section">
        <h2><%= t(:'beerxml.yeasts') %></h2>
        <% @beerxml.yeasts.each do |yeast| %>
          <meta itemprop="recipeIngredient" content="<%= yeast.name %> (<%= yeast.product_id %>) <%= yeast.laboratory %>">
        <% end %>
        <table class="recipe-table zebra-expanded">
          <thead>
            <tr>
              <th><%= t(:'beerxml.yeast_name') %></th>
              <th><%= t(:'beerxml.yeast_product_id') %></th>
              <th><%= t(:'beerxml.yeast_lab') %></th>
              <th><%= t(:'beerxml.yeast_form') %></th>
              <th><%= t(:'beerxml.yeast_attenuation') %></th>
              <th><%= t(:'beerxml.yeast_temperature') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.yeasts.each do |yeast| %>
            <tr class="details-row">
              <td class="yeast_name"><%= yeast.name %></td>
              <td class="yeast_product_id"><%= yeast.product_id %></td>
              <td class="yeast_laboratory"><%= yeast.laboratory %></td>
              <td class="yeast_form"><%= trans(yeast.form) %></td>
              <td class="yeast_attenuation format_number"><%= number_to_percentage(yeast.attenuation, precision: 0) %></td>
              <td class="yeast_temperatures format_number"><%= yeast.formatted_temperatures %></td>
            </tr>
            <tr class="info-row">
              <td class="yeasts-info" colspan="6">
                <p>
                  <% if yeast.type.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.yeast_type') %>: <%= trans(yeast.type) %></span><br>
                  <% end %>
                  <% if yeast.flocculation.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.flocculation') %>: <%= trans(yeast.flocculation) %></span><br>
                  <% end %>
                  <% if yeast.best_for.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.best_for') %>: <%= yeast.best_for %></span><br>
                  <% end %>
                  <% if yeast.max_reuse.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.max_reuse') %>: <%= yeast.max_reuse %></span><br>
                  <% end %>
                  <% if yeast.times_cultured.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.times_cultured') %>: <%= yeast.times_cultured %></span><br>
                  <% end %>
                  <% if yeast.add_to_secondary.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.add_to_secondary') %>: <%= t("common.#{yeast.add_to_secondary ? 'yes' : 'no'}") %></span><br>
                  <% end %>
                </p>
                <% if yeast.notes.present? %>
                  <p><span class="yeast-info yeast-notes"><%= yeast.notes %></span></p>
                <% end %>
              </td>
            </tr>

            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <% if @beerxml.mash.steps.count > 0 %>
      <section class="recipe_mash recipe-section" itemprop="recipeInstructions"
        itemscope itemtype="https://schema.org/ItemList">
        <h2><%= t(:'beerxml.mash') %></h2>
        <% @beerxml.mash.steps.each do |step| %>
          <meta itemprop="name" content="<%= trans(step.name) %> (<%= trans(step.type) %>) <%= number_with_precision(step.step_temp, precision: 0) %><%= t(:'beerxml.degrees') %> @ <%= number_with_precision(step.step_time, precision: 0) %> <%= t(:'beerxml.minutes') %>">
        <% end %>
        <table class="recipe-table zebra">
          <thead>
            <tr>
              <th><%= t(:'beerxml.mash_name') %></th>
              <th><%= t(:'beerxml.mash_type') %></th>
              <th><%= t(:'beerxml.mash_infuse_amount') %></th>
              <th><%= t(:'beerxml.mash_step_temp') %></th>
              <th><%= t(:'beerxml.mash_ramp_time') %></th>
              <th><%= t(:'beerxml.mash_step_time') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.mash.steps.each do |step| %>
              <tr>
                <td class="mash_name"><%= trans(step.name) %></td>
                <td class="mash_type"><%= trans(step.type) %></td>
                <td class="mash_infuse_amount format_number"><%= number_with_precision(step.infuse_amount, precision: 2) %> <%= t(:'beerxml.liter_abbr') %></td>
                <td class="mash_step_temp format_number"><%= number_with_precision(step.step_temp, precision: 0) %><%= t(:'beerxml.degrees') %></td>
                <td class="mash_ramp_time format_number"><%= number_with_precision(step.ramp_time, precision: 0) %> <%= t(:'beerxml.minutes') %></td>
                <td class="mash_step_time format_number"><%= number_with_precision(step.step_time, precision: 0) %> <%= t(:'beerxml.minutes') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>
      </div>

      <div class="recipe-aside pure-u-1 pure-u-xl-1-5">
        <aside class="recipe_information">
          <h2><%= t(:'beerxml.information') %></h2>

          <div class="recipe_style">
            <h3><%= t(:'beerxml.style') %></h3>
            <p><%= @beerxml.style.name %> <%= @presenter.style_type %></p>
          </div>

          <% if @beerxml.style.type.present? %>
          <div class="recipe_type">
            <h3><%= t(:'beerxml.type') %></h3>
            <p><%= @beerxml.style.type %></p>
          </div>
          <% end %>

          <div class="recipe_grains">
            <h3><%= t(:'beerxml.grains') %></h3>
            <p><%= number_with_precision(@beerxml.total_grains, precision: 2) %> <%= t(:'beerxml.kilograms') %></p>
          </div>

          <div class="recipe_hops">
            <h3><%= t(:'beerxml.hops') %></h3>
            <p><%= number_with_precision(@beerxml.total_hops, precision: 2) %> <%= t(:'beerxml.grams') %></p>
          </div>

          <div class="recipe_equipment">
            <% if @presenter.equipment_name.present? %>
            <h3><%= t(:'beerxml.equipment') %></h3>
            <p><%= @presenter.equipment_name %></p>
            <% end %>
          </div>

          <div class="recipe_date">
            <h3><%= t(:'beerxml.brew_date') %></h3>
            <p><%= @presenter.long_date %></p>
          </div>

          <% if @beerxml.brewer.present? %>
          <div class="recipe_brewer">
            <h3><%= t(:'beerxml.brewer') %></h3>
            <p>
              <%= @beerxml.brewer %>
              <% unless @beerxml.asst_brewer.blank? %>(<%= t(:'beerxml.assisted_by', assistant: @beerxml.asst_brewer) %>)<% end %>
            </p>
          </div>
          <% end %>
        </aside>
      </div>

    </article>

