    <div class="recipe-tables">
      <section class="recipe_details recipe-section">
        <table class="recipe-table zebra">
          <caption><%= t(:'beerxml.recipe_details') %></caption>
          <thead>
            <tr>
              <th><%= t(:'beerxml.batch_size') %></th>
              <th><%= t(:'beerxml.boil_time') %></th>
              <th><%= t(:'beerxml.og') %></th>
              <th><%= t(:'beerxml.fg') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.ibu') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.abv') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.calories_per_liter') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.color') %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="recipe_batch_size format-number" itemprop="recipeYield"><%= number_with_precision(@beerxml.batch_size, precision: 1) %> <%= t(:'beerxml.liter_abbr') %></td>
              <td class="recipe_boil_time format-number"><%= number_with_precision(@beerxml.boil_time, precision: 0) %> <%= t(:'beerxml.minutes') %></td>
              <td class="recipe_og format-number"><%= format_sg(@beerxml.og) %> <%= t(:'beerxml.sg') %></td>
              <td class="recipe_fg format-number"><%= format_sg(@beerxml.fg) %> <%= t(:'beerxml.sg') %></td>
              <td class="recipe_ibu format-number pure-hidden pure-sm-table-cell"><%= number_with_precision(@beerxml.ibu, precision: 0) %></td>
              <td class="recipe_abv format-number pure-hidden pure-sm-table-cell"><%= format_abv(@beerxml.abv) %></td>
              <td class="recipe_calories format-number pure-hidden pure-sm-table-cell" itemprop="nutrition" itemscope
                itemtype="http://schema.org/NutritionInformation">
                <span itemprop="calories"><%= number_with_precision(@beerxml.calories, precision: 0) %></span>
                <meta itemprop="servingSize" content="1 L">
              </td>
              <td class="recipe_color format-number pure-hidden pure-sm-table-cell">
                <%= number_with_precision(@beerxml.color_ebc, precision: 0) %> <%= t(:'beerxml.ebc') %>
                <div class="colorbox" style="background-color: <%= @beerxml.color_hex %>">&nbsp;</div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="recipe-table zebra pure-sm-hidden">
          <thead>
            <tr>
              <th><%= t(:'beerxml.ibu') %></th>
              <th><%= t(:'beerxml.abv') %></th>
              <th><%= t(:'beerxml.calories_per_liter') %></th>
              <th><%= t(:'beerxml.color') %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="recipe_ibu format-number"><%= number_with_precision(@beerxml.ibu, precision: 0) %></td>
              <td class="recipe_abv format-number"><%= format_abv(@beerxml.abv) %></td>
              <td class="recipe_calories format-number" itemprop="nutrition" itemscope
                itemtype="http://schema.org/NutritionInformation">
                <span itemprop="calories"><%= number_with_precision(@beerxml.calories, precision: 0) %></span>
                <meta itemprop="servingSize" content="1 L">
              </td>
              <td class="recipe_color format-number">
                <%= number_with_precision(@beerxml.color_ebc, precision: 0) %> <%= t(:'beerxml.ebc') %>
                <div class="colorbox" style="background-color: <%= @beerxml.color_hex %>">&nbsp;</div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <% if @beerxml.fermentables.count > 0 %>
      <section class="recipe_fermentables recipe-section">
        <% @beerxml.fermentables.each do |f| %>
        <meta itemprop="recipeIngredient"
          content="<%= number_with_precision(f.amount, precision: 2) %> <%= t(:'beerxml.kilograms') %> <%= f.name %>">
        <% end %>
        <table class="recipe-table zebra-expanded">
          <caption><%= t(:'beerxml.fermentables') %></caption>
          <thead>
            <tr>
              <th><%= t(:'beerxml.fermentable_name') %></th>
              <th><%= t(:'beerxml.fermentable_amount') %></th>
              <th><%= t(:'beerxml.percent') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.fermentable_type') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.fermentable_color') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.fermentables.each do |f| %>
            <tr class="details-row">
              <td class="fermentable_name"><%= f.name %></td>
              <td class="fermentable_amount format-number"><%= number_with_precision(f.amount, precision: 2) %> <%= t(:'beerxml.kilograms') %></td>
              <td class="fermentable_percent format-number"><%= number_to_percentage(f.amount_percent, precision: 1) %></td>
              <td class="fermentable_type pure-hidden pure-sm-table-cell"><%= t(f.type, default: :Grain, scope: :'beerxml.fermentable_types') %></td>
              <td class="fermentable_color format-number pure-hidden pure-sm-table-cell">
                <%= number_with_precision(f.color_ebc, precision: 0) %> <%= t(:'beerxml.ebc') %>
                <div class="colorbox" style="background-color: <%= f.color_hex %>">&nbsp;</div>
              </td>
            </tr>
            <tr class="info-row">
              <td class="fermentables-info" colspan="5">
                <p>
                  <% if f.coarse_fine_diff.present? %>
                    <span class="hop-info"><%= t(:'beerxml.coarse_fine_difference') %>: <%= number_to_percentage(f.coarse_fine_diff, precision: 2) %></span><br>
                  <% end %>
                  <% if f.moisture.present? %>
                    <span class="hop-info"><%= t(:'beerxml.moisture') %>: <%= number_to_percentage(f.moisture, precision: 2) %></span><br>
                  <% end %>
                  <% if f.yield.present? %>
                    <span class="hop-info"><%= t(:'beerxml.yield') %>: <%= number_to_percentage(f.yield, precision: 0) %></span><br>
                  <% end %>
                  <% if f.potential.present? %>
                    <span class="hop-info"><%= t(:'beerxml.potential') %>: <%= format_sg(f.potential) %> <%= t(:'beerxml.sg') %></span><br>
                  <% end %>
                  <% if f.diastatic_power.present? %>
                    <span class="hop-info"><%= t(:'beerxml.diastatic_power') %>: <%= number_with_precision(f.diastatic_power, precision: 1) %> Lintner</span><br>
                  <% end %>
                  <% if f.max_in_batch.present? %>
                    <span class="hop-info"><%= t(:'beerxml.max_in_batch') %>: <%= number_to_percentage(f.max_in_batch, precision: 0) %></span><br>
                  <% end %>
                  <% if f.protein.present? %>
                    <span class="hop-info"><%= t(:'beerxml.protein') %>: <%= number_to_percentage(f.protein, precision: 1) %></span><br>
                  <% end %>
                  <% if f.ibu_gal_per_lb.present? && f.ibu_gal_per_lb > 0 %>
                    <span class="hop-info"><%= t(:'beerxml.ibu_gal_per_lb') %>: <%= number_with_precision(f.ibu_gal_per_lb, precision: 1) %></span><br>
                  <% end %>
                  <% if f.recommend_mash.present? %>
                    <span class="hop-info"><%= t(:'beerxml.recommend_mash') %>: <%= t("common.#{f.recommend_mash ? 'yes' : 'no'}") %></span><br>
                  <% end %>
                  <% if f.add_after_boil.present? %>
                    <span class="hop-info"><%= t(:'beerxml.add_after_boil') %>: <%= t("common.#{f.add_after_boil ? 'yes' : 'no'}") %></span><br>
                  <% end %>
                  <% if f.origin.present? %>
                    <span class="fermentable-info"><%= t(:'beerxml.origin') %>: <%= trans(f.origin) %></span><br>
                  <% end %>
                  <% if f.supplier.present? %>
                    <span class="fermentable-info"><%= t(:'beerxml.supplier') %>: <%= f.supplier %></span>
                  <% end %>
                </p>
                <% if f.notes.present? %>
                  <span class="fermentable-info fermentable-notes"><%= format_text(f.notes) %></span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <% if @beerxml.hops.count > 0 %>
      <section class="recipe_hops recipe-section">
        <% @beerxml.hops.each do |hop| %>
          <meta itemprop="recipeIngredient"
            content="<%= number_with_precision(hop.amount, precision: 0) %> <%= t(:'beerxml.grams') %> <%= hop.name %> (<%= t(hop.use, default: :Boil, scope: :'beerxml.hop_uses') %> <%= hop.formatted_time %> <%= trans(hop.time_unit, default: 'min') %>)">
        <% end %>
        <table class="recipe-table zebra-expanded">
          <caption><%= t(:'beerxml.hops') %></caption>
          <thead>
            <tr>
              <th><%= t(:'beerxml.hops_name') %></th>
              <th><%= t(:'beerxml.hops_amount') %></th>
              <th><%= t(:'beerxml.hops_time') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.hops_use') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.hops_form') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.hops_alpha') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.hops_ibu') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.grams_per_liter') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.hops.each do |hop| %>
            <tr class="details-row">
              <td class="hops_name"><%= hop.name %></td>
              <td class="hops_amount format-number"><%= number_with_precision(hop.amount, precision: 0) %> <%= t(:'beerxml.grams') %></td>
              <td class="hops_time format-number"><%= hop.formatted_time %> <%= trans(hop.time_unit, default: 'min') %></td>
              <td class="hops_use pure-hidden pure-sm-table-cell"><%= t(hop.use, default: :Boil, scope: 'beerxml.hop_uses') %></td>
              <td class="hops_form pure-hidden pure-sm-table-cell"><%= t(hop.form, default: :Leaf, scope: 'beerxml.hop_forms') %></td>
              <td class="hops_alpha format-number pure-hidden pure-sm-table-cell"><%= number_to_percentage(hop.alpha, precision: 2) %></td>
              <td class="hops_ibu format-number pure-hidden pure-sm-table-cell"><%= number_with_precision(hop.ibu, precision: 1) %></td>
              <td class="hops_grpl format-number pure-hidden pure-sm-table-cell"><%= number_with_precision(@presenter.hop_grams_per_liter(hop), precision: 1) %></td>
            </tr>
            <tr class="info-row">
              <td class="hops-info" colspan="8">
                <p>
                  <span class="hop-info"><%= @presenter.mgl_added_alpha_acids(hop) %> <%= t(:'beerxml.mg_per_liter_aa') %></span><br>
                  <span class="hop-info"><%= number_with_precision(hop.aau, precision: 1) %> <%= t(:'beerxml.aau') %></span><br>
                  <% if hop.beta.present? %>
                    <span class="hop-info"><%= t(:'beerxml.beta') %>: <%= number_to_percentage(hop.beta, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.caryophyllene.present? %>
                    <span class="hop-info"><%= t(:'beerxml.caryophyllene') %>: <%= number_to_percentage(hop.caryophyllene, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.cohumulone.present? %>
                    <span class="hop-info"><%= t(:'beerxml.cohumulone') %>: <%= number_to_percentage(hop.cohumulone, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.hsi.present? %>
                    <span class="hop-info"><%= t(:'beerxml.hsi') %>: <%= number_to_percentage(hop.hsi, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.myrcene.present? %>
                    <span class="hop-info"><%= t(:'beerxml.myrcene') %>: <%= number_to_percentage(hop.myrcene, precision: 2) %></span><br>
                  <% end %>
                  <% if hop.origin.present? %>
                    <span class="hop-info"><%= t(:'beerxml.origin') %>: <%= trans(hop.origin) %></span><br>
                  <% end %>
                  <% if hop.substitutes.present? %>
                    <span class="hop-info"><%= t(:'beerxml.substitutes') %>: <%= hop.substitutes %></span><br>
                  <% end %>
                </p>
                <% if hop.notes.present? %>
                  <span class="hop-info hop-notes"><%= format_text(hop.notes) %></span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <% if @beerxml.miscs.count > 0 %>
      <section class="recipe_miscs recipe-section">
        <% @beerxml.miscs.each do |m| %>
          <meta itemprop="recipeIngredient"
            content="<%= misc_amount(m) %> <%= trans(m.unit, default: 'gr') %> <%= m.name %>">
        <% end %>
        <table class="recipe-table zebra-expanded">
          <caption><%= t(:'beerxml.miscs') %></caption>
          <thead>
            <tr>
              <th><%= t(:'beerxml.misc_name') %></th>
              <th><%= t(:'beerxml.misc_amount') %></th>
              <th><%= t(:'beerxml.misc_time') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.misc_type') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.misc_use') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.miscs.each do |misc| %>
            <tr class="details-row">
              <td class="misc_name"><%= trans(misc.name, scope: :'beerxml.misc_names') %></td>
              <td class="misc_amount format-number">
                <%= misc_amount(misc) %>
                <%= trans(misc.unit, default: 'gr') %>
              </td>
              <td class="misc_time format-number">
                <% if misc.time.present? %>
                  <%= misc.formatted_time %> <%= t(misc.time_unit, default: 'min', scope: :'beerxml.time_unit') %>
                <% end %>
              </td>
              <td class="misc_type pure-hidden pure-sm-table-cell"><%= t(misc.type, default: :Other, scope: :'beerxml.misc_types') %></td>
              <td class="misc_use pure-hidden pure-sm-table-cell"><%= trans(misc.use, scope: :'beerxml.misc_uses') %></td>
            </tr>
            <tr class="info-row">
              <td class="miscs-info" colspan="6">
                <p>
                  <% if misc.use_for.present? %>
                    <span class="misc-info"><%= t(:'beerxml.misc_use_for') %>: <%= trans(misc.use_for, scope: :'beerxml.misc_used_for') %></span><br>
                  <% end %>
                </p>
                <% if misc.notes.present? %>
                  <p><span class="misc-info"><%= format_text(misc.notes) %></span></p>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <% if @beerxml.yeasts.count > 0 %>
      <section class="recipe_yeasts recipe-section">
        <% @beerxml.yeasts.each do |yeast| %>
          <meta itemprop="recipeIngredient" content="<%= yeast.name %> (<%= yeast.product_id %>) <%= yeast.laboratory %>">
        <% end %>
        <table class="recipe-table zebra-expanded">
          <caption><%= t(:'beerxml.yeasts') %></caption>
          <thead>
            <tr>
              <th><%= t(:'beerxml.yeast_name') %></th>
              <th><%= t(:'beerxml.yeast_product_id') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.yeast_lab') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.yeast_form') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.yeast_attenuation') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.yeast_temperature') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.yeasts.each do |yeast| %>
            <tr class="details-row">
              <td class="yeast_name"><%= yeast.name %></td>
              <td class="yeast_product_id"><%= yeast.product_id %></td>
              <td class="yeast_laboratory pure-hidden pure-sm-table-cell"><%= yeast.laboratory %></td>
              <td class="yeast_form pure-hidden pure-sm-table-cell"><%= trans(yeast.form, scope: :'beerxml.yeast_forms') %></td>
              <td class="yeast_attenuation format-number pure-hidden pure-sm-table-cell"><%= number_to_percentage(yeast.attenuation, precision: 0) %></td>
              <td class="yeast_temperatures format-number pure-hidden pure-sm-table-cell"><%= yeast.formatted_temperatures %></td>
            </tr>
            <tr class="info-row">
              <td class="yeasts-info" colspan="6">
                <p>
                  <% if yeast.type.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.yeast_type') %>: <%= trans(yeast.type, scope: :'beerxml.yeast_types') %></span><br>
                  <% end %>
                  <% if yeast.flocculation.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.flocculation') %>: <%= trans(yeast.flocculation, default: 'unknown') %></span><br>
                  <% end %>
                  <% if yeast.best_for.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.best_for') %>: <%= yeast.best_for %></span><br>
                  <% end %>
                  <% if yeast.max_reuse.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.max_reuse') %>: <%= yeast.max_reuse %></span><br>
                  <% end %>
                  <% if yeast.times_cultured.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.times_cultured') %>: <%= yeast.times_cultured %></span><br>
                  <% end %>
                  <% if yeast.add_to_secondary.present? %>
                    <span class="yeast-info"><%= t(:'beerxml.add_to_secondary') %>: <%= t("common.#{yeast.add_to_secondary ? 'yes' : 'no'}") %></span><br>
                  <% end %>
                </p>
                <% if yeast.notes.present? %>
                  <span class="yeast-info yeast-notes"><%= format_text(yeast.notes) %></span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>

      <% if @beerxml.mash.steps.count > 0 %>
      <section class="recipe_mash recipe-section" itemprop="recipeInstructions"
        itemscope itemtype="https://schema.org/ItemList">
        <% @beerxml.mash.steps.each do |step| %>
          <meta itemprop="name" content="<%= trans(step.name, scope: :'beerxml.mash_step_name') %>
            (<%= trans(step.type, scope: :'beerxml.mash_step_type') %>)
            <%= number_with_precision(step.step_temp, precision: 0) %><%= t(:'beerxml.degrees') %>
            @ <%= number_with_precision(step.step_time, precision: 0) %>
            <%= t(:'beerxml.minutes') %>">
        <% end %>
        <table class="recipe-table zebra">
          <caption><%= t(:'beerxml.mash') %></caption>
          <thead>
            <tr>
              <th><%= t(:'beerxml.mash_name') %></th>
              <th><%= t(:'beerxml.mash_step_temp') %></th>
              <th><%= t(:'beerxml.mash_step_time') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.mash_ramp_time') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.mash_type') %></th>
              <th class="pure-hidden pure-sm-table-cell"><%= t(:'beerxml.mash_infuse_amount') %></th>
            </tr>
          </thead>
          <tbody>
            <% @beerxml.mash.steps.each do |step| %>
              <tr>
                <td class="mash_name"><%= trans(step.name, scope: :'beerxml.mash_step_name') %></td>
                <td class="mash_step_temp format-number"><%= number_with_precision(step.step_temp, precision: 0) %><%= t(:'beerxml.degrees') %></td>
                <td class="mash_step_time format-number"><%= number_with_precision(step.step_time, precision: 0) %> <%= t(:'beerxml.minutes') %></td>
                <td class="mash_ramp_time format-number pure-hidden pure-sm-table-cell"><%= number_with_precision(step.ramp_time, precision: 0) %> <%= t(:'beerxml.minutes') %></td>
                <td class="mash_type pure-hidden pure-sm-table-cell"><%= trans(step.type, scope: :'beerxml.mash_step_type') %></td>
                <td class="mash_infuse_amount format-number pure-hidden pure-sm-table-cell"><%= number_with_precision(step.infuse_amount, precision: 2) %> <%= t(:'beerxml.liter_abbr') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
      <% end %>
    </div>
