<% unless @recipes.nil? %>
<div id="list" class="pure-u-1 linked-list">
  <div class="recipe-quicksearch pure-g">
    <%= form_tag(recipes_path, method: 'get', class: 'pure-form', id: 'quicksearch-form') do %>
      <div class="field pure-control-group pure-u-2-3">
        <%= search_field_tag :q, @search[:q], autocomplete: 'off',
            class: 'pure-input-1 pure-input-rounded',
            placeholder: t(:'common.search.quicksearch'),
            results: 5, autosave: 'brygglogg-search' %>
      </div>
      <div class="field pure-control-group pure-u-1-3">
        <%= select_tag :sort_order, options_for_select(@sort_fields, @search[:sort_order]),
            class: 'pure-input-1',
            include_blank: t(:'common.search.sort_order') %>
      </div>
    <% end %>
  </div>

<% @recipes.each do |recipe| %>
  <div class="recipe-item linked-item pure-g <%= item_classes_for(recipe, current_user, @recipe) %>">
    <div class="pure-u">
      <%= image_tag avatar_for(recipe), class: 'recipe-avatar',
        alt: recipe.owner_name, height: 64, width: 64 %>
    </div>

    <div class="pure-u-5-8 recipe-item-description">
      <h5 class="recipe-name">
        <%= link_to recipe.brewer_name, recipe.user, class: 'user-link' %>
      </h5>
      <h4 class="recipe-subject">
        <%= link_to recipe.name, recipe, class: 'recipe-link item-link' %>
      </h4>
      <p class="recipe-desc">
        <%= recipe.style_name %>
      </p>
    </div>

    <div class="pure-u-1-5 recipe-item-details">
      <%= '%.0f' % recipe.batch_size %> <%= I18n.t(:'beerxml.liter_abbr') %><br>
      <%= I18n.t(:'beerxml.abv') %>: <%= format_abv(recipe.abv) %><br>
      <%= I18n.t(:'beerxml.ibu') %>: <%= number_with_precision(recipe.ibu, precision: 0) %>
    </div>
  </div>
<% end %>
<% if @recipes.size < Recipe.count %>
  <div class="pure-u-1 list-details">
      <p><%= link_to t(:'recipes.show_all', count: Recipe.count),
        recipes_path(limit: Recipe.count, clear_search: true),
        class: 'recipe-all' %></p>
  </div>
<% end %>
</div>
<% end %>
