<%= render partial: 'shared/recipe_events', locals: { current_user: current_user, recipe: @recipe } %>

<h4><%= t(:'recipe_events.add_event') %></h4>
<%= form_tag(recipe_events_path(@recipe), method: :post, remote: true,
             id: 'recipe-events-form', class: 'pure-form pure-form-aligned') do |f| %>
  <%= hidden_field_tag :recipe_id, @recipe.id %>
  <fieldset>
    <div class="field pure-control-group">
      <%= label_tag :event_id, t(:'recipe_events.choose') %>
      <%= select_tag :event_id, options_for_select(Event.event_options, ''),
            class: 'pure-input-1-4' %>
    </div>
    <div class="field pure-control-group">
      <%= label_tag :medal, t(:'recipe_events.medal') %>
      <%= select_tag :medal, options_for_select(medal_options, ''), class: 'pure-input-1-4' %>
    </div>
    <div class="field pure-control-group">
      <%= label_tag :category, t(:'recipe_events.category') %>
      <%= text_field_tag :category, '', placeholder: I18n.t(:'recipe_events.category'),
            disabled: true, required: true %>
    </div>
    <div class="actions pure-controls">
      <%= button_tag name: I18n.t(:'recipe_events.add'), type: :submit, class: 'pure-button pure-button-secondary' do %>
        <i class="fa fa-plus-circle"></i> <%= t('recipe_events.add') %>
      <% end %>
    </div>
  </fieldset>
<% end %>

