<div class="search-form">
 <%= form_tag(recipes_path, method: 'get', class: 'pure-form', id: 'search-form') do %>
  <fieldset>
    <legend><%= I18n.t(:'recipes.search.description') %></legend>
    <%= hidden_field_tag :clear_search, true %>
    <div class="field pure-control-group">
      <%= search_field_tag :q, @search[:q], autocomplete: 'off',
            class: 'pure-input-1-3',
            placeholder: I18n.t(:'recipes.search.freetext'),
            results: 5, autosave: 'brygglogg-search' %>
    </div>
    <div class="field pure-control-group">
      <%= select_tag :style, options_for_select(@styles, @search[:style_name]),
            class: 'pure-input-1-3',
            include_blank: I18n.t(:'recipes.search.style') %>
    </div>
    <div class="field pure-control-group">
      <h3><%= I18n.t(:'beerxml.og') %></h3>
      <%= hidden_field_tag :ogfrom, @search[:ogfrom] || FilterRecipes::SGMIN, class: 'slider-og-from' %>
      <%= hidden_field_tag :ogto, @search[:ogto] || FilterRecipes::SGMAX, class: 'slider-og-to' %>
      <div class="range-div">
        <div id="slider-og" class="range-slider"
          data-range-min="<%= FilterRecipes::SGMIN %>" data-range-max="<%= FilterRecipes::SGMAX %>" data-range-step="0.010"
          data-range-margin="0.010" data-range-formatter="formatSG"
          ></div>
      </div>
    </div>
    <div class="field pure-control-group">
      <h3><%= I18n.t(:'beerxml.fg') %></h3>
      <%= hidden_field_tag :fgfrom, @search[:fgfrom] || FilterRecipes::SGMIN, class: 'slider-fg-from' %>
      <%= hidden_field_tag :fgto, @search[:fgto] || FilterRecipes::SGMAX, class: 'slider-fg-to' %>
      <div class="range-div">
        <div id="slider-fg" class="range-slider"
          data-range-min="<%= FilterRecipes::SGMIN %>" data-range-max="<%= FilterRecipes::SGMAX %>" data-range-step="0.010"
          data-range-margin="0.010" data-range-formatter="formatSG"
          ></div>
      </div>
    </div>
    <div class="actions pure-controls">
      <%= button_tag type: :submit, class: 'pure-button pure-button-primary' do %>
        <i class="fa fa-search"></i> <%= I18n.t(:'recipes.search.button') %>
      <% end %>
      <%= link_to recipes_path(clear_search: true), class: 'pure-button' do %>
        <i class="fa fa-times-circle"></i> <%= I18n.t(:'recipes.search.clear') %>
      <% end %>
    </div>
  </fieldset>
 <% end %>
</div>
