<div class="social-likes social-likes_single" data-single-title="<%= I18n.t(:'common.share.single_title') %>">
  <div class="facebook" title="<%= I18n.t(:'common.share.facebook.description') %>"><%= I18n.t(:'common.share.facebook.title') %></div>
  <div class="twitter" title="<%= I18n.t(:'common.share.twitter.description') %>"><%= I18n.t(:'common.share.twitter.title') %></div>
</div>
