<p>En ny etikett har skapats på Brygglogg.se för receptet
<a href="<%= @url %>"><%= @recipe.name %></a>.</p>
<% if @creator.present? %>
<p>Etiketten skapades av <a href="<%= user_url(@creator) %>"><%= @creator.name %></a>.</p>
<% end %>

<%= image_tag attachments['label.png'].url %>
