<%= form_for(@event, html: { class: 'pure-form pure-form-aligned' }) do |f| %>
  <%= invisible_captcha %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t(:'activerecord.errors.models.event.header', count: @event.errors.count) %></h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field pure-control-group">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: I18n.t(:'activerecord.attributes.event.name') %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :event_type %>
      <%= f.select :event_type, Event::EVENT_TYPES %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :organizer %>
      <%= f.text_field :organizer, placeholder: I18n.t(:'activerecord.attributes.event.organizer') %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :location %>
      <%= f.text_field :location, placeholder: I18n.t(:'activerecord.attributes.event.location') %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :url %>
      <%= f.text_field :url, placeholder: I18n.t(:'activerecord.attributes.event.url') %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :held_at %>
      <%= f.text_field :held_at, placeholder: I18n.t(:'activerecord.attributes.event.held_at') %>
    </div>
    <div class="field pure-control-group">
      <%= f.label :description, class: 'large-group' %>
      <div class="quill-wrapper">
        <%= f.text_area :description, placeholder: I18n.t(:'activerecord.attributes.event.description'), class: 'quill_container' %>
      </div>
    </div>
    <div class="actions pure-controls">
      <%= f.submit I18n.t(:'events.save'), class: 'pure-button pure-button-primary' %>
    </div>
  </fieldset>
<% end %>
