      <div class="page-content-header pure-g">
        <div class="pure-u-4-5">
          <h1 class="event-content-title"><%= title I18n.t(:'events.index') %></h1>
        </div>
        <div class="page-content-controls pure-u-1-5">
          <div class="controls-signed-in">
            <%= link_to new_event_path(@event), class: 'pure-button secondary-button' do %>
              <i class="fa fa-calendar-o"></i> <%= t(:'events.new') %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="page-content-body event-index item-index">
        <h2><%= I18n.t(:'events.upcoming_events') %></h2>
        <ul class="event-list linked-list pure-g">
          <%= render partial: @upcoming_events %>
        </ul>

        <h2><%= I18n.t(:'events.past_events') %></h2>
        <ul class="event-list linked-list pure-g">
          <%= render partial: @past_events %>
        </ul>
      </div>
