      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="page-content-title">Om Brygglogg.se</h1>
          <p>På Brygglogg.se kan du dela med dig av dina hembryggningsrecept.</p>
        </div>
      </div>

      <div class="page-content-body feature-list">
        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Logga bryggningar</h2>
            <p>När du har bryggt ett recept kan du logga uppmätta värden. </p>

            <p>Hur många bryggningar som har gjorts på ett recept visas med
            en etikett under receptets beskrivning. För att se en lista över
            alla bryggningar så klickar du på etiketten.</p>

            <p>Förutom en beskrivning, bryggdatum och buteljeringsdatum så går
            det att spara värden för OG, FG, mäsk-pH, OG före kok, bryggvolym,
            kokvolym, jäsvolym och buteljeringsvolym. Det finns även fält för
            att notera vilka som var med och bryggde, samt vilket bryggverk
            som användes.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-bryggningar-badge.png'  %>
            <%= image_tag 'about/brygglogg-bryggningar-skapa.png'  %>
            <%= image_tag 'about/brygglogg-bryggningar-lista.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Bryggklocka</h2>
            <p>Under Verktygs-knappen på recept så finns det en kokklocka
            och en mäskklocka. Dessa utgår från tiderna i receptet, och det
            är möjligt att pausa, och hoppa till föregående och nästa steg i
            processen.</p>

            <p>Om du tillåter notifiktationer så skickas det en notifikation
            när det är dags för nästa steg. Det spelas också upp ett ljud
            vid varje nytt steg.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-bryggklocka-mash.png'  %>
            <%= image_tag 'about/brygglogg-bryggklocka-kok.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Skapa flasketiketter</h2>
            <p>Om du flaskar dina öl så kan du använda etikettskaparen för att
            skapa flasketiketter för både framsidan och baksidan av flaskan.
            Det finns en mängd olika mallar att välja mellan, och mallarna
            kan anpassas med bakgrundsbild, ram, textfärg med mera.</p>
            <p>Huvudbilden som används på många mallar tas från receptets
            huvudbild. Som logotyp används bilden som du har satt som bryggeribild
            på din profil.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-labelmaker-skapa.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Importera recept</h2>
            <p>Importera recept från bryggprogram som Beersmith och Brewfather.
            Exportera recept i formatet BeerXML och ladda upp här på Brygglogg.se.
            Det går att importera flera recept på samma gång.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-skapa-recept.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Bygg recept</h2>
            <p>Skapa recept från grunden genom att lägga till ingredienser som malt,
            humle och jäst, samt mäsksteg.</p>
            <p>Du kan göra ändringar på receptets innhåll tills du är nöjd. Ändringarna
            kommer inte visas på sidan förrän du klickar på Publicera-knappen längst upp
            på sidan. Undantaget till detta är namn, beskrvning och om receptet är offentligt,
            då dessa börjar gälla direkt.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-bygg-receptuppgifter.png'  %>
            <%= image_tag 'about/brygglogg-bygg-malt-humle.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Sök recept</h2>
            <p>Hitta recept att brygga genom att söka på stiltyp, medaljvinnare, bryggverk
            eller fritext. Det går även att hitta recept som har varit med på ett
            evenemang. Det går också att söka recept efter alkoholstyrka,
            bitterhet (IBU), färg (EBC) eller OG och FG.</p>
            <p>Recept kan laddas ner som BeerXML-fil för att öppnas i andra bryggprogram
            som Beersmith eller Brewfather.</p>
            <p>Har du frågor om ett recept kan du använda diskussionsfliken för
            att ställa frågor till bryggaren. Gillar du receptet så visa det genom
            att klicka på Gilla-knappen.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-sok-recept.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Analysera recept</h2>
            <p>Under analys-fliken på recept går det att se grafer över fördelningen
            av malt och humle. Det finns även mätare för alkoholstyrka,
            färg, bitterhet, OG och FG.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-recept-analys-gauges.png'  %>
            <%= image_tag 'about/brygglogg-recept-analys-pie-charts.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Stilguider</h2>
            <p>Information om stilguider från SHBF finns att läsa på en
            egen sida. Där visas grafiska staplar som visar inom vilka
            gränser OG, FG, färg och alkohol ska vara.</p>
            <p>För dom recept som har stiltypsinformation så visas dessa staplar,
            tillsammans med stiltypsbeskrivningen under fliken Stiltyp på receptet.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-recept-stiltypsinfo.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Skriv ut receptdokument</h2>
            <p>Om du ska delta med en öl bryggd med receptet på en hembryggarträff
            så finns det praktisk dokument att skriva ut. Skriv ut
            bryggschema, reklamaffisch och lapp med QR-kod till receptet.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-promotion-meny.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Bildgalleri</h2>
            <p>Varje recept har ett eget bildgalleri dit du kan ladda upp bilder.
            En av bilderna kan sättas som huvudbild så att den visas på receptet
            i listningar, på reklamaffish-utskrift och flasketiketter.</p>
            <p>Även din profil har ett bildgalleri. Här kan du ladda upp bilder som du
            kan använda som avatar, och som bild för ditt bryggeri. Om ett recept inte
            har en egen bild så används ditt bryggeris bild, och om det saknas så används
            din avatar.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-profil-bilder.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Evenemangskalender</h2>
            <p>Här hittar du kommande hembryggarträffar runt om i landet.
            Historiska evenemang listas också, så det går att hitta recept som
            deltog på dem.</p>
            <p>Om du ska delta, eller har deltagigt med ditt recept på ett evenemang
            så kan du lägga till receptet till evenemanget.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-evenemang-lista.png'  %>
          </div>
        </div>

        <div class="feature-item pure-g">
          <div class="pure-u-1 pure-u-md-2-3 feature-description">
            <h2>Träffanmälan</h2>
            <p>Om du arrangerar en hembryggarträff så går det att använda
            Brygglogg.se som officiellt anmälningssystem.</p>
            <p>Som arrangör går det att få ut CSV/Excel-filer med alla
            anmälda recept. Det går även att lägga till anmälningsinformation som
            visas när bryggare anmäler sina recept.</p>
            <p>Officiella evenemang är låsta så det inte går att lägga till recept
            efter det sista anmälningsdatumet. Bryggare kan inte heller själva
            markera vilka som vunnit medaljer, istället finns det verktyg för
            arrangören att markera vinnare.</p>
          </div>
          <div class="pure-u-1 pure-u-md-1-3 feature-images">
            <%= image_tag 'about/brygglogg-evenemang-admin.png'  %>
          </div>
        </div>
      </div>
