      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="page-content-title">Om Brygglogg.se</h1>
          <p>På Brygglogg.se kan du dela med dig av dina hembryggningsrecept.</p>
        </div>
      </div>

      <div class="page-content-body feature-list">
        <div class="feature-orange pure-g">
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-right">
              <h2>Importera recept</h2>
              <p>Importera recept från bryggprogram som Beersmith och Brewfather.
              Exportera recept i formatet BeerXML och ladda upp här på Brygglogg.se.
              Det går att importera flera recept på samma gång.</p>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-skapa-recept.png'  %>
          </div>
        </div>

        <div class="feature-white pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-bygg-receptuppgifter.png'  %>
            <%= image_tag 'about/brygglogg-bygg-malt-humle.png'  %>
          </div>
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-left">
              <h2>Bygg recept</h2>
              <p>Skapa recept från grunden genom att lägga till ingredienser som malt,
              humle och jäst, samt mäsksteg.</p>
            </div>
          </div>
        </div>

        <div class="feature-blue pure-g">
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-right">
              <h2>Sök recept</h2>
              <p>Hitta recept att brygga genom att söka på stiltyp, medaljvinnare, bryggverk
              eller fritext. Det går även att hitta recept som har varit med på ett
              evenemang. Det går också att söka recept efter alkoholstyrka,
              bitterhet (IBU), färg (EBC) eller OG och FG.</p>
              <p>Recept kan laddas ner som BeerXML-fil för att öppnas i andra bryggprogram
              som Beersmith eller Brewfather.</p>
              <p>Har du frågor om ett recept kan du använda diskussionsfliken för
              att ställa frågor till bryggaren. Gillar du receptet så visa det genom
              att klicka på Gilla-knappen.</p>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-sok-recept.png'  %>
          </div>
        </div>

        <div class="feature-white pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-recept-analys-gauges.png'  %>
            <%= image_tag 'about/brygglogg-recept-analys-pie-charts.png'  %>
          </div>
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-left">
              <h2>Analysera recept</h2>
              <p>Under analys-fliken på recept går det att se grafer över fördelningen
              av malt och humle. Det finns även mätare för alkoholstyrka,
              färg, bitterhet, OG och FG.</p>
            </div>
          </div>
        </div>

        <div class="feature-orange pure-g">
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-right">
              <h2>Skapa flasketiketter</h2>
              <p>Om du flaskar dina öl så kan du använda etikettskaparen för att
              skapa flasketiketter för både framsidan och baksidan av flaskan.
              Det finns en mängd olika mallar att välja mellan, och mallarna
              kan anpassas med bakgrundsbild, ram, textfärg med mera.</p>
              <p>Huvudbilden som används på många mallar tas från receptets
              huvudbild. Som logotyp används bilden som du har satt som bryggeribild
              på din profil.</p>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-labelmaker-skapa.png'  %>
          </div>
        </div>

        <div class="feature-white pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-promotion-meny.png'  %>
          </div>
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-left">
              <h2>Skriv ut promotion-material</h2>
              <p>Om du ska delta med en öl bryggd med receptet på en hembryggarträff
              så finns det praktiskt promotion-material att skriva ut. Skriv ut
              bryggschema, reklamaffisch och lapp med QR-kod till receptet.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-blue pure-g">
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-right">
              <h2>Bildgalleri</h2>
              <p>Varje recept har ett eget bildgalleri dit du kan ladda upp bilder.
              En av bilderna kan sättas som huvudbild så att den visas på receptet
              i listningar, på reklamaffish-utskrift och flasketiketter.</p>
              <p>Även din profil har ett bildgalleri. Här kan du ladda upp bilder som du
              kan använda som avatar, och som bild för ditt bryggeri. Om ett recept inte
              har en egen bild så används ditt bryggeris bild, och om det saknas så används
              din avatar.</p>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-profil-bilder.png'  %>
          </div>
        </div>

        <div class="feature-white pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-evenemang-lista.png'  %>
          </div>
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-left">
              <h2>Evenemangskalender</h2>
              <p>Här hittar du kommande hembryggarträffar runt om i landet.
              Historiska evenemang listas också, så det går att hitta recept som
              deltog på dem.</p>
              <p>Om du ska delta, eller har deltagigt med ditt recept på ett evenemang
              så kan du lägga till receptet till evenemanget.</p>
            </div>
          </div>
        </div>

        <div class="feature-orange pure-g">
          <div class="pure-u-1 pure-u-md-2-3">
            <div class="padding-right">
              <h2>Träffanmälan</h2>
              <p>Om du arrangerar en hembryggarträff så går det att använda
              Brygglogg.se som officiellt anmälningssystem.</p>
              <p>Som arrangör går det att få ut CSV/Excel-filer med alla
              anmälda recept. Det går även att lägga till anmälningsinformation som
              visas när bryggare anmäler sina recept.</p>
              <p>Officiella evenemang är låsta så det inte går att lägga till recept
              efter det sista anmälningsdatumet. Bryggare kan inte heller själva
              markera vilka som vunnit medaljer, istället finns det verktyg för
              arrangören att markera vinnare.</p>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <%= image_tag 'about/brygglogg-evenemang-admin.png'  %>
          </div>
        </div>
      </div>
