      <div class="page-content-header pure-g">
        <div class="pure-u">
          <h1 class="recipe-content-title"><%= I18n.t(:'users.sign_in') %></h1>
        </div>
      </div>

      <div class="page-content-body session-new">
<%= form_for(resource, as: resource_name,
             url: session_path(resource_name),
             html: { class: 'pure-form pure-form-aligned' }) do |f| %>

  <fieldset>
    <div class="field pure-control-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, required: true,
            placeholder: I18n.t(:'activerecord.attributes.user.email') %>
    </div>

    <div class="field pure-control-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', required: true,
           placeholder: I18n.t(:'activerecord.attributes.user.password') %>
    </div>

    <div class="actions pure-controls">
      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me, class: 'pure-checkbox' do %>
          <%= f.check_box :remember_me %>
          <%= I18n.t(:'activerecord.attributes.user.remember_me') %>
        <% end %><br />
      <% end -%>

      <%= f.submit I18n.t(:'users.sign_in'), class: 'pure-button pure-button-primary' %>
    </div>

<%= render "devise/shared/links" %>
  </fieldset>
<% end %>

      </div>
