<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= display_meta_tags site: 'Brygglogg.se' %>
  <%= yield(:head) %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" media="screen" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="search" type="application/opensearchdescription+xml"
        href="<%= open_search_show_url(format: :xml) %>" title="Recipe search" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="layout" class="content pure-g">
<%= render 'shared/nav' %>
<%= render 'shared/recipes' %>
  <div id="main" class="pure-u-1">
    <div class="recipe-content">
<% if flash[:notice] %>
<div class="pure-alert pure-alert-success"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
<div class="pure-alert pure-alert-error"><%= flash[:alert] %></div>
<% end %>

<%= yield %>
    </div>
  </div>
</div>

  <footer>
  </footer>
</body>
</html>
