<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Brewnit</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="layout" class="content pure-g">
<%= render 'shared/nav' %>
<%= render 'shared/recipes' %>
  <div id="main" class="pure-u-1">
    <div class="recipe-content">
<% if flash[:notice] %>
<div class="pure-alert pure-alert-success"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
<div class="pure-alert pure-alert-error"><%= flash[:alert] %></div>
<% end %>

<%= yield %>
    </div>
  </div>
</div>

  <footer>
  </footer>
</body>
</html>
