<!DOCTYPE html>
<html dir="ltr">
<head>
  <meta charset="utf-8" />
  <%= display_meta_tags site: 'Brygglogg.se' %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag 'layouts/print', media: 'all' %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
  <%= render 'favicon' %>
</head>
<body class="page-<%= controller_name %>-<%= action_name %> print-body">

<div id="main" class="print-content">
<%= yield %>
</div>

<% unless Rails.env.development? %>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-933148-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-933148-13');
</script>
<% end %>
<%= yield :footer %>
</body>
</html>
