<div class="ingredients-list">
  <table id="fermentables" class="pure-table pure-table-striped ingredients-table">
    <thead>
      <tr>
        <th><%= I18n.t(:'activerecord.attributes.fermentable.name') %></th>
        <th><%= I18n.t(:'activerecord.attributes.fermentable.amount') %></th>
        <th><%= I18n.t(:'activerecord.attributes.fermentable.grain_type') %></th>
        <th><%= I18n.t(:'activerecord.attributes.fermentable.ebc') %></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% @fermentables.each do |fermentable| %>
      <%= render partial: 'shared/fermentable_item', locals: { fermentable: fermentable } %>
    <% end %>
    </tbody>
  </table>
  <p class="empty-table"><em><%= I18n.t(:"recipe_detail.nothing_added") %></em></p>
</div>
